<!-- Footer -->
<footer>
    <span class="f-el" id="f-app">
        <h5>{{#if lang}}Κατεβάστε την Εφαρμογή{{else}}Download the app{{/if}}</h5>
        <div><img id="f-app_img" src="/images/f-app.png" alt=""></div>
        <a class="f-_app_store" href="https://play.google.com/"><img src="/images/f-play_store.png" alt=""></a>
        <a class="f-_app_store" href="https://www.apple.com/app-store/"><img src="/images/f-app_store.png" alt=""></a>
    </span>

    <span class="f-el" id="f-contact_info">
        <img src="/images/f-contact_icon.png" alt="">
        <h4>{{#if lang}}Επικοινωνία{{else}}Contact{{/if}}</h4>
        <span class="f-contact_info_icons" id="f-mail">
            <img src="/images/h-msg_icon.png">
            <span id="f-mail_text">support@gmail.com</span>
        </span>
        <span class="f-contact_info_icons" id="f-tel">
            <a href="tel:2271012345">
                <img src="/images/h-customer-service_icon.png">
                <span id="f-tel_text">22710 12345</span>
            </a>
        </span>
        <ul id="f-social">
            <li><a href="https://www.facebook.com/"><img src="/images/h-fb_icon.png"></a></li>
            <li><a href="https://www.instagram.com/"><img src="/images/h-insta_icon.png"></a></li>
            <li><a href="https://twitter.com/"><img src="/images/h-twitter_icon.png"></a></li>
            <li><a href="https://www.linkedin.com/"><img src="/images/h-linkedin_icon.png"></a></li>
        </ul>
    </span>

    <span class="f-el" id="f-info">
        <img src="/images/f-info_icon.png" alt="">
        <h4>{{#if lang}}Πληροφορίες{{else}}Info{{/if}}</h4>
        <p>{{#if lang}}Αυτή η εφαρμογή φτιάχτηκε στα πλαίσια μίας διπλωματικής εργασίας{{else}}This website is a result of diploma thesis{{/if}}</p>
    </span>

    <span class="f-el" id="f-driver">
        <span>
            <img src="/images/f-driver.png" alt="">
            <h4>{{#if lang}}Για οδηγούς{{else}}For drivers{{/if}}</h4>
        </span>
        <span id="f-log">
            <a href="/sign_in">{{#if lang}}Σύνδεση{{else}}Sign in{{/if}}</a>

            <a href="/sign_up">{{#if lang}}Εγγραφή{{else}}Sign up{{/if}}</a>
        </span>
        <ul>
            <li hidden> <a href="">{{#if lang}}Πάρκαρε τώρα{{else}}Park now{{/if}}</a> </li>
            <li> <a href="/city">{{#if lang}}Πόλη{{else}}City{{/if}}</a> </li>
            <li> <a href="/airport">{{#if lang}}Αεροδρόμιο{{else}}Airport{{/if}}</a> </li>
            <li> <a href="/port">{{#if lang}}Λιμάνι{{else}}Port{{/if}}</a> </li>
        </ul>
    </span>

    <span class="f-el" id="f-business">
        <span>
            <img src="/images/f-business.png" alt="">
            <h4>{{#if lang}}Για Επιχειρήσεις{{else}}For business{{/if}}</h4>
        </span>
        <a href="/business/sign_in">{{#if lang}}Είσοδος Συνεργατών{{else}}Partners Sign in{{/if}}</a>
        <a href="/business/sign_up">{{#if lang}}Εγγραφή Συνεργατών{{else}}Partners Sign up{{/if}}</a>
    </span>
</footer>