<!-- Footer -->
<footer class="text-center text-md-start text-white" style="background-color: #45526e">
    <div class="container-fluid pt-4 mx-0" id="lll">
        <section class="ms-xl-5">
            <div class="row ms-sm-5">
                <div class="col mx-auto mt-3 mb-3 mb-md-0">
                    <h4 class="text-uppercase mb-4 font-weight-bold">{{#if lang}}Κατεβάστε την Εφαρμογή{{else}}Download the app{{/if}}</h4>
                    <div><img class="mb-3" style="height: 52px; border-radius: 3px;" src="/images/logo.png" alt=""></div>
                    <a class="" href="https://play.google.com/"><img style="height: 60px;" src="/images/f-play_store2.png"  alt="Google Play" title="Google Play and the Google Play logo are trademarks of Google LLC."></a><br>
                    <a class="ms-md-3" href="https://www.apple.com/app-store/"><img style="height: 45px;" src="/images/f-app_store.svg" alt="Apple Store" title="Apple Store"></a>
                </div>
                <hr class="w-100 clearfix d-md-none" />
                <div class="col mx-auto mt-3">
                    <img class="d-inline" style="height: 60px;" src="/images/driver.png" alt="">
                    <h4 class="d-md-inline text-uppercase mb-4 font-weight-bold text-nowrap">{{#if lang}}Για οδηγούς{{else}}For drivers{{/if}}</h4>
                    <p><a class="text-white" href="/sign_in">{{#if lang}}Σύνδεση{{else}}Sign in{{/if}}</a></p>
                    <p><a class="text-white" href="/sign_up">{{#if lang}}Εγγραφή{{else}}Sign up{{/if}}</a></p>
                    <p hidden><a class="text-white" href="">{{#if lang}}Πάρκαρε τώρα{{else}}Park now{{/if}}</a></p>
                    <p>
                        <a class="text-white me-4" href="/city">{{#if lang}}Πόλη{{else}}City{{/if}}</a>
                        <a class="text-white me-4" href="/airport">{{#if lang}}Αεροδρόμιο{{else}}Airport{{/if}}</a>
                        <a class="text-white me-4" href="/port">{{#if lang}}Λιμάνι{{else}}Port{{/if}}</a>
                    </p>
                </div>
                <hr class="w-100 clearfix d-md-none" />
                <div class="col mx-auto mt-3">
                    <img class="d-inline" style="height: 60px;" src="/images/business.png" alt="">
                    <h4 class="d-md-inline text-uppercase mb-4 font-weight-bold text-nowrap">{{#if lang}}Για Επιχειρήσεις{{else}}For business{{/if}}</h4>
                    <p><a class="text-white text-nowrap" href="/parking_station/sign_in">{{#if lang}}Είσοδος Συνεργατών{{else}}Partners Sign in{{/if}}</a></p>
                    <p><a class="text-white text-nowrap" href="/parking_station/sign_up">{{#if lang}}Εγγραφή Συνεργατών{{else}}Partners Sign up{{/if}}</a>
                </div>
                <hr class="w-100 clearfix d-md-none" />
                <div class="col mx-auto mt-3">
                    <img class="d-inline" style="height: 50px;" src="/images/f-info_icon.png" alt="">
                    <h4 class="d-md-inline text-uppercase mb-4 font-weight-bold">{{#if lang}}Πληροφορίες{{else}}Info{{/if}}</h4>
                    <p class="me-sm-5">{{#if lang}}Αυτή η εφαρμογή φτιάχτηκε στα πλαίσια μίας διπλωματικής εργασίας.{{else}}This website is a result of diploma thesis.{{/if}}</p>
                </div>
                <hr class="w-100 clearfix d-md-none" />
                <div class="col mx-auto mt-3 text-nowrap">
                    {{!-- <img src="/images/h-msg_icon.png">
                        <img src="/images/h-customer-service_icon.png"> --}}
                    <img class="d-inline" style="height: 50px;" src="/images/f-contact_icon.png" alt="">
                    <h4 class="d-md-inline text-uppercase mb-4 font-weight-bold">{{#if lang}}Επικοινωνία{{else}}Contact{{/if}}</h4>
                    <p><i class="fa fa-envelope"></i> info@gmail.com</p>
                    <p><i class="fa fa-phone"></i><a class="text-white" href="tel:2271012345"> 22710 12345</a></p>
                    <ul class="nav d-flex justify-content-center justify-content-md-start">
                        <li class="mx-1 ms-2"><a href="https://www.facebook.com/"><img src="/images/h-fb_icon.png" title="Facebook"></a></li>
                        <li class="mx-1"><a href="https://www.instagram.com/"><img src="/images/h-insta_icon.png" title="Instagram"></a></li>
                        <li class="mx-1"><a href="https://twitter.com/"><img src="/images/h-twitter_icon.png" title="Twitter"></a></li>
                        <li class="mx-1  me-5"><a href="https://www.linkedin.com/"><img src="/images/h-linkedin_icon.png" title="LinkedIn"></a></li>
                    </ul>
                </div>
            </div>
        </section>
        <hr class="my-2">

        <section class="p-1 pt-0">
            <div class="row d-flex align-items-center">
                <div class="col-sm-4 text-sm-start">
                    {{!-- <div class="p-1">© 2022-2023 Copyright: <a class="text-white" href="">Parkaro - Car &amp; Drive</a> --}}
                    <div class="p-1 text-nowrap">© 2022-2023 Copyright: <a class="text-white" href="">Parkaro</a></div>
                </div>
                <div class="col-sm-8 text-sm-end">
                    <span class="me-4 d-none d-lg-inline h3">{{#if lang}}Συνδεθείτε μαζί μας στα κοινωνικά δίκτυα:{{else}}Get connected with us on social networks:{{/if}}</span>
                    {{!-- <a class="btn btn-outline-light btn-floating m-1 text-white" href="https://www.facebook.com/" role="button"><i class="fa fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-floating m-1 text-white" href="https://twitter.com/" role="button"><i class="fa fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-floating m-1 text-white"  role="button"><i class="fa fa-google"></i></a>
                    <a class="btn btn-outline-light btn-floating m-1 text-white" href="https://www.instagram.com/" role="button"><i class="fa fa-instagram"></i></a> --}}
                    {{!-- <a class="btn text-white btn-floating m-1" style="background-color: #3b5998;" href="https://www.facebook.com/" role="button">
                        <i class="fa fa-facebook-f"></i></a>
                    <a class="btn text-white btn-floating m-1" style="background-color: #55acee;" href="https://twitter.com/" role="button">
                        <i class="fa fa-twitter"></i></a>
                    <a class="btn text-white btn-floating m-1" style="background-color: #dd4b39;" href="#!" role="button">
                        <i class="fa fa-google"></i></a>
                    <a class="btn text-white btn-floating m-1" style="background-color: #ac2bac;" href="https://www.instagram.com/" role="button">
                        <i class="fa fa-instagram"></i></a>
                    <a class="btn text-white btn-floating m-1" style="background-color: #0082ca;" href="https://www.linkedin.com/" role="button">
                        <i class="fa fa-linkedin"></i></a>
                    <a class="btn text-white btn-floating m-1" style="background-color: #333333;" href="https://www.github.com" role="button">
                        <i class="fa fa-github"></i></a> --}}
                    <div class="d-inline text-nowrap">
                        <a href="https://www.facebook.com/" class="me-4 text-reset" title="Facebook"><i class="fa fa-facebook-f"></i></a>
                        <a href="https://twitter.com/" class="me-4 text-reset"  title="Twitter"><i class="fa fa-twitter"></i></a>
                        <a href="" class="me-4 text-reset"><i class="fa fa-google" title="Google"></i></a>
                        <a href="https://www.instagram.com/" class="me-4 text-reset" title="Instagram"><i class="fa fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/" class="me-4 text-reset" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
                        <a href="https://www.github.com" class="me-4 text-reset" title="GitHub"><i class="fa fa-github"></i></a>
                    </div>
                    
                </div>
            </div>
        </section>
    </div>
</footer>