<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

<!-- Header -->
<header class="d-flex justify-content-between ps-2 pe-3">
    <div class="col-7">
        <ul class="nav">
            <li class="mx-1 ms-2"><a href="https://www.facebook.com/"><img src="/images/h-fb_icon.png" title="Facebook"></a></li>
            <li class="mx-1"><a href="https://www.instagram.com/"><img src="/images/h-insta_icon.png" title="Instagram"></a></li>
            <li class="mx-1"><a href="https://twitter.com/"><img src="/images/h-twitter_icon.png" title="Twitter"></a></li>
            <li class="mx-1  me-5"><a href="https://www.linkedin.com/"><img src="/images/h-linkedin_icon.png" title="LinkedIn"></a></li>
            <li class="text-nowrap mx-2 me-5">
                {{!-- <img src="/images/h-msg_icon.png"> --}}
                <i class="fa fa-envelope"></i>
                <span>support@gmail.com</span>
            </li>
            <li class="text-nowrap mx-2 me-5">
                <a href="tel:2271012345">
                    {{!-- <img src="/images/h-customer-service_icon.png"> --}}
                    <i class="fa fa-phone"></i>
                    <span>22710 12345</span>
                </a>
            </li>
        </ul>

    </div>
    <div class="col-5 text-end">
        {{#if is_driver}}{{#if login}}<span class="mx-4 text-nowrap">{{#if lang}}Πόντοι: {{else}}Points: {{/if}}{{points}}<i class="fa fa-diamond"></i></span>{{/if}}{{/if}}
        <span class="text-nowrap">
            {{#if is_driver}}
            <i class="fa fa-user"></i>
            {{!-- <img src="/images/h-user_icon.png" alt=""> --}}
            {{else}}
            <i class="fa fa-briefcase"></i>
            {{!-- <img src="/images/h-business_icon.png" alt=""> --}}
            {{/if}}
            {{#if login}}
                {{#if is_driver}}
                <div class="dropdown d-inline">
                    {{!-- <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown button
                    </button> --}}
                    <a href="/account" class="text-nowrap me-4" data-bs-toggle="dropdown" role="button">{{#if lang}}Ο Λογαριασμός μου{{else}}My account{{/if}}</a>
                    <div class="dropdown-menu _header_dropdown">
                        <a href="/account" class="dropdown-item">{{#if lang}}Ρυθμίσεις Προφίλ{{else}}Profile Settings{{/if}}</a>
                        <a href="/history" class="dropdown-item">{{#if lang}}Κρατήσεις{{else}}Reservations{{/if}}</a>
                        <div class="dropdown-divider"></div>
                        <a href="/logout" class="dropdown-item">{{#if lang}}Αποσύνδεση{{else}}Logout{{/if}}</a>
                    </div>
                </div>
                {{else}}
                <div class="dropdown d-inline">
                    <a href="" class="text-wrap" data-bs-toggle="dropdown">{{#if lang}}Η Επιχείρησή μου{{else}}My parking station{{/if}}</a>
                    <div class="dropdown-menu _header_dropdown">
                        <a href="/parking_station/account" class="dropdown-item">{{#if lang}}Ρυθμίσεις Προφίλ{{else}}Profile Settings{{/if}}</a>
                        <a href="/parking_station/my_parking" class="dropdown-item">{{#if lang}}Κρατήσεις{{else}}Reservations{{/if}}</a>
                        <div class="dropdown-divider"></div>
                        <a href="/parking_station/logout" class="dropdown-item">{{#if lang}}Αποσύνδεση{{else}}Logout{{/if}}</a>
                    </div>
                </div>
                {{/if}}
            {{else}}
                {{#if is_driver}}
            <a href="/sign_in"><span class="text-nowrap">{{#if lang}}Σύνδεση{{else}}Sign in{{/if}}</span></a>
        </span>
        <span class="text-nowrap">
                /
                <a href="/sign_up"><span class="text-nowrap">{{#if lang}}Εγγραφή{{else}}Sign up{{/if}}</span></a>
                {{else}}
                <a href="/parking_station/sign_in"><span class="text-nowrap">{{#if lang}}Σύνδεση{{else}}Sign in{{/if}}</span></a>
        </span>
        <span class="text-nowrap">
                /
                <a href="/parking_station/sign_up"><span class="text-nowrap d-">{{#if lang}}Εγγραφή{{else}}Sign up{{/if}}</span></a>
                {{/if}}
            </span>
            {{/if}}
        </span>
        {{#if login}}
        <br class="d-sm-none">
        <div class="dropdown d-inline">
            <a href="" id="notif" class="text-nowrap" data-bs-toggle="dropdown" role="button">
                <i class="fa fa-bell"></i>{{#if unread_notification_number}}<span id="notif_num" class="text-danger">({{unread_notification_number}})</span>{{/if}}</a>
            <div class="dropdown-menu _header_dropdown">
                <div class="my-custom-scrollbar">
                    {{#each notifications}}
                        <p id="{{this.id}}" class="dropdown-item _btn_notf {{#unless this.viewed}}bg-info{{/unless}}">{{this.message}}<small><i> (<span class="format_dates">{{this.date_created}}</span>)</i></small></p>
                        <div class="dropdown-divider"></div>
                    {{/each}}
                </div>
                <p class="btn btn-dark" id="notif1">{{#if lang}}Επισήμανση όλων ως αναγνωσμένων{{else}}Mark all as read{{/if}}</p>
            </div>
        </div>
        {{!-- <div id="myModalNotf" class="modal fade" tabindex="-1">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Notification</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <p id="message"></p>
                    </div>
                </div>
            </div>
        </div> --}}
        {{/if}}
        <span class="text-nowrap ms-4">
            <a href="/language"><i class="fa fa-globe"></i>
                {{!-- <img src="/images/h-lang_icon.png" alt=""> --}}
                {{#if lang}}<span>GR</span>{{else}}<span>EN</span>{{/if}}
            </a>
        </span>
    </div>
</header>

<script>
    var dat = document.querySelectorAll(".format_dates");
    var dats = [...dat];
    dats.forEach(datt => {
        datt.innerHTML = date_to_string(parseInt(datt.innerHTML));
    });

    try {
        document.getElementById("notif1").addEventListener("click", function () {
            document.getElementById("notif").innerHTML = '<i class="fa fa-bell"></i>';
            {{#if is_driver}}window.location.assign("/rd_notif");{{/if}}
            {{#unless is_driver}}window.location.assign("/parking_station/rd_notif");{{/unless}}
        });
    } catch (error) {
        //console.error(error);
    }

    function date_to_string(num) {
        let dtm_h = new Date(num);
        let dt_h = dtm_h.toLocaleDateString().split("/");
        if (dt_h[0] < 10) { dt_h[0] = '0' + dt_h[0]; }
        if (dt_h[1] < 10) { dt_h[1] = '0' + dt_h[1]; }
        let dt = dt_h[1] + "/" + dt_h[0] + "/" + dt_h[2];
        let tm = dtm_h.toTimeString().split(" ")[0].slice(0, 5);
        let dtm = dt + " " + tm;
        return dtm;
    }
</script>