<div id="_account">
    <p>{{#if lang}}Ο λογαριασμός μου{{else}}My account{{/if}}</p>

    <form action="" method="post" id="_main_form">
        <fieldset>
            <label for="m-f-email">{{#if lang}}Email:{{else}}Email:{{/if}}</label>
            <input type="email" class="inpt" id="m-f-email" name="email" placeholder="someone@example.com" value='{{driver.email}}' autofocus pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
            <label for="m-f-name">{{#if lang}}Ονοματεπώνυμο:{{else}}Full Name:{{/if}}</label>
            <input type="text" class="inpt" id="m-f-name" name="name" placeholder={{#if lang}}"Ονοματεπώνυμο"{{else}}"Fullname"{{/if}} value='{{driver.name}}' required>
            <label for="m-f-phone">{{#if lang}}Τηλέφωνο:{{else}}Phone:{{/if}}</label>
            <input type="tel" class="inpt" id="m-f-phone" name="phone" placeholder="69********" value='{{driver.phone}}' pattern="[0-9]{10}" required>
            <label>{{#if lang}}Γλώσσα:{{else}}Language:{{/if}}</label>
            <input type="radio" id="a" name="lang" value="0" {{#unless lang}}checked{{/unless}}>
            <label for="a">{{#if lang}}Αγγλικά{{else}}English{{/if}}</label>
            <input type="radio" id="b" name="lang" value="1" {{#if lang}}checked{{/if}}>
            <label for="b">{{#if lang}}Ελληνικά{{else}}Greek{{/if}}</label>
            <div class="d-flex justify-content-end mx-5 my-2">
                <button type="button" id="myBtn4" class="btn btn-lg btn-secondary me-5">{{#if lang}}Αλλαγή κωδικού{{else}}Change password{{/if}}</button>
                <button type="button" id="myBtn2" class="btn btn-lg btn-success">{{#if lang}}Αποθήκευση{{else}}Save{{/if}}</button>
            </div>
        </fieldset>
    </form>
    <div class="card bg-primary">
        <h3>{{#if lang}}Οχήματα{{else}}Vehicles:{{/if}}</h3>
        <ul style="list-style: none;">
            {{#if cars}}
            {{#each cars}}
            <div class="d-flex justify-content-between">
                <li><i class="fa fa-car me-4"></i>{{this.plate}}<span class="_car-info" id="info-{{this.id}}"> ({{this.model}} - {{this.color}})</span></li>
                <button type="button" id="myBtnEdit/{{this.id}}" class="border-0 bg-primary me-4 _btn_edt" title="{{this.plate}}"><i class="fa fa-pencil"></i></button>
                <button type="button" id="myBtn/{{this.id}}" class="border-0 bg-primary me-4 _btn_delt"><i class="fa fa-times"></i></button>
            </div>
            {{/each}}
            {{/if}}
        </ul>
    </div>
    <div class="d-flex justify-content-between p-5">
        <a class="btn btn-secondary btn-lg" href="/logout" role="button">{{#if lang}}Αποσύνδεση{{else}}Log out{{/if}}</a>
        <div>
            <button type="button" id="myBtn3" class="btn btn-lg btn-primary"><i class="fa fa-car"></i> {{#if lang}}Προσθέστε νέο όχημα{{else}}Add new vehicle{{/if}}</button>
        </div>
        <div>
            <button type="button" id="myBtn" class="btn btn-lg btn-danger">{{#if lang}}Διαγραφή Λογαριασμού{{else}}Delete Account{{/if}}</button>
        </div>
    </div>
    <div id="myModlDel" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{#if lang}}Επιβεβαίωση{{else}}Confirmation{{/if}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p class="_modal-text">{{#if lang}}Είστε σίγουρος ότι θέλετε να διαγράψετε αυτό το όχημα;{{else}}Are you sure you want to delete this vehicle?{{/if}}</p>
                    <form action="/delete_car" method="post" id="myDelForm">
                        <input type="number" id="car_id" hidden name="_id" value="">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-lg btn-secondary" data-bs-dismiss="modal">{{#if lang}}Άκυρο{{else}}Cancel{{/if}}</button>
                    <input type="submit" form="myDelForm" class="btn btn-lg btn-danger" value={{#if lang}}"Διαγραφή Οχήματος"{{else}}"Delete Car"{{/if}}>
                </div>
            </div>
        </div>
    </div>
    <div id="myModalEdt" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{#if lang}}Επεξεργασία{{else}}Edit{{/if}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form action="/update_car" method="post" id="myEdtForm">
                        <input type="number" id="car_id-" hidden name="_id" value="">
                        <h2 id="h_car_id"></h2>
                        <div class="d-block text-nowrap">
                            <label for="modl">{{#if lang}}Μοντέλο{{else}}Model{{/if}}</label>
                            <input type="text" id="modl" name="model" placeholder="ford">
                        </div>
                        <div class="d-block text-nowrap">
                            <label for="colr">{{#if lang}}Χρώμα{{else}}Color{{/if}}</label>
                            <input type="text" id="colr" name="color" placeholder={{#if lang}}"μαύρο"{{else}}"black"{{/if}}>
                        </div>
                    </form>
                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <button type="button" class="btn btn-lg btn-secondary " data-bs-dismiss="modal">{{#if lang}}Άκυρο{{else}}Cancel{{/if}}</button>
                    <input type="submit" form="myEdtForm" class="btn btn-lg btn-success" value={{#if lang}}"Ενημέρωση"{{else}}"Update"{{/if}}>
                </div>
            </div>
        </div>
    </div>
    <div id="myModalCar" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <form action="/account/add_new_car" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title">{{#if lang}}Προσθέστε νέο όχημα{{else}}Add new vehicle{{/if}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <p class="_modal-text">{{#if lang}}Πληροφορίες οχήματος{{else}}Car info{{/if}}</p>
                        <div class="d-block text-nowrap">
                            <label for="platee">{{#if lang}}Πινακίδα{{else}}Plate{{/if}}</label>
                            <input type="text" id="platee" name="plate" placeholder="XXX0000" required>
                        </div>
                        <div class="d-block text-nowrap">
                            <label for="mdl">{{#if lang}}Μοντέλο{{else}}Model{{/if}}</label>
                            <input type="text" id="mdl" name="model" placeholder="ford">
                        </div>
                        <div class="d-block text-nowrap">
                            <label for="clr">{{#if lang}}Χρώμα{{else}}Color{{/if}}</label>
                            <input type="text" id="clr" name="color" placeholder={{#if lang}}"μαύρο"{{else}}"black"{{/if}}>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-lg btn-secondary" data-bs-dismiss="modal">{{#if lang}}Άκυρο{{else}}Cancel{{/if}}</button>
                        <input type="submit" class="btn btn-lg btn-primary" value={{#if lang}}"Προσθήκη"{{else}}"Add"{{/if}}>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="myModalDelete" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{#if lang}}Επιβεβαίωση{{else}}Confirmation{{/if}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/account/delete" id="del_acc2">
                        <p class="_modal-text">{{#if lag}}Είστε σίγουρος ότι θέλετε να διαγράψετε οριστικά τον λογαριασμό σας;{{else}}Are you sure you want to delete permanently your account?{{/if}}</p>
                        <label for="pass_con" class="_modal-text">{{#if lang}}Επιβεβαίωση κωδικού:{{else}}Confirm password:{{/if}}</label>
                        <input id="pass_con" type="password" name="password3" placeholder="********" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-lg btn-secondary" data-bs-dismiss="modal">{{#if lang}}Άκυρο{{else}}Cancel{{/if}}</button>
                    <button class="btn btn-lg btn-danger" form="del_acc2" type="submit">{{#if lang}}Οριστική διαγραφή λογαριασμού{{else}}Delete Account permanently{{/if}}</button>
                </div>
            </div>
        </div>
    </div>
    <div id="myModalSave" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{#if lang}}Αποθήκευση αλλαγών{{else}}Save changes{{/if}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p class="_modal-text">{{#if lang}}Επιβεβαίωση κωδικού{{else}}Confirm password{{/if}}</p>
                    <input type="password" name="password" placeholder="********" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-lg btn-secondary" data-bs-dismiss="modal">{{#if lang}}Άκυρο{{else}}Cancel{{/if}}</button>
                    <input type="submit" class="btn btn-lg btn-success" form="_main_form" value={{#if lang}}"Αποθήκευση"{{else}}"Save"{{/if}}>
                </div>
            </div>
        </div>
    </div>
    <div id="myModalEditPass" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{#if lang}}Αλλαγή κωδικού{{else}}Change password{{/if}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form action="/account_pass" method="post" id="ch_pass">
                        <p class="_modal-text">{{#if lang}}Παλιός κωδικός{{else}}Old password{{/if}}</p>
                        <input type="password" name="password" placeholder="********" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                        <p class="_modal-text">{{#if lang}}Νέος κωδικός{{else}}New password{{/if}}</p>
                        <input type="password" name="password2" placeholder="********" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                        <p class="_modal-text">{{#if lang}}Επιβεβαίωση νέου κωδικού{{else}}Confirm new password{{/if}}</p>
                        <input type="password" name="password3" placeholder="********" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-lg btn-secondary" data-bs-dismiss="modal">{{#if lang}}Άκυρο{{else}}Cancel{{/if}}</button>
                    <input type="submit" form="ch_pass" class="btn btn-lg btn-success" value={{#if lang}}"Αποθήκευση"{{else}}"Save"{{/if}}>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var btn = document.getElementById("myBtn");
        btn.addEventListener("click", function () {
            var myModalDelete = new bootstrap.Modal(document.getElementById("myModalDelete"));
            myModalDelete.show();
        });
        var btn2 = document.getElementById("myBtn2");
        btn2.addEventListener("click", function () {
            var myModalSave = new bootstrap.Modal(document.getElementById("myModalSave"));
            myModalSave.show();
        });
        var btn3 = document.getElementById("myBtn3");
        btn3.addEventListener("click", function () {
            var myModalCar = new bootstrap.Modal(document.getElementById("myModalCar"));
            myModalCar.show();
        });
        var btn4 = document.getElementById("myBtn4");
        btn4.addEventListener("click", function () {
            var myModalEditPass = new bootstrap.Modal(document.getElementById("myModalEditPass"));
            myModalEditPass.show();
        });
        delete_buttons();
        edit_buttons();
    });

    function edit_buttons() {
        let bn = document.querySelectorAll("._btn_edt");
        if (bn.length) {
            let btns = [...bn];
            let myModal = new bootstrap.Modal(document.getElementById("myModalEdt"));
            let idd = "";
            let h_dt = "";
            let rd = "";
            let info = "";
            btns.forEach(function (btn, idd) {
                idd = btn.id.split("/")[1];
                btn.addEventListener("click", function () {
                    myModal.show();
                    document.getElementById("car_id-").value = idd;
                    info = document.getElementById("info-" + idd).textContent.split(" - ");
                    document.getElementById("modl").value = info[0].slice(2);
                    document.getElementById("colr").value = info[1].slice(0, -1);
                    document.getElementById("h_car_id").textContent = btn.title;
                });
            });
        }
    }

    function delete_buttons() {
        let bn = document.querySelectorAll("._btn_delt");
        let btns = [...bn];
        let myModal = new bootstrap.Modal(document.getElementById("myModlDel"));
        let idd = "";
        btns.forEach(function (btn, idd) {
            idd = btn.id.split("/")[1];
            btn.addEventListener("click", function () {
                myModal.show();
                document.getElementById("car_id").value = idd;
            });
        });
    }
</script>