<div id="_account">
    <p>Ο Λογαριασμός μου</p>

    <form action="" method="post">
        <fieldset>
            <legend>Update your account</legend>
            <label for="m-f-email">Email:</label>
            <input type="email" id="m-f-email" name="email" placeholder="someone@example.com" value='{{driver.email}}'
                autofocus pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>

            <label for="m-f-pswd">Κωδικός πρόσβασης:</label>
            <input type="password" id="m-f-pswd" name="password" placeholder="********"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>

            <label for="m-f-name">Ονοματεπώνυμο:</label>
            <input type="text" id="m-f-name" name="name" placeholder="Firstname Lastname" value='{{driver.name}}'
                required>

            <label for="m-f-phone">Τηλέφωνο:</label>
            <input type="tel" id="m-f-phone" name="phone" placeholder="69********" value='{{driver.phone}}'
                pattern="[0-9]{10}" required>

            <label>Γλώσσα:</label>
            <input type="radio" id="a" name="lang" value="0" {{#if lang}} {{else}}checked{{/if}}>
            <label for="a">English</label>
            <input type="radio" id="b" name="lang" value="1" {{#if lang}}checked{{else}}{{/if}}>
            <label for="b">Ελληνικά</label>

            <div class="d-flex justify-content-end mx-5 my-2">
                <button type="button" id="myBtn2" class="btn btn-lg btn-success">Save</button>
                <div id="myModalSave" class="modal fade" tabindex="-1">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Save changes</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <p class="_modal-text">Confirm password</p>
                                <input type="password" name="password2" placeholder="********"
                                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-lg btn-secondary"
                                    data-bs-dismiss="modal">Cancel</button>
                                {{!-- <a class="btn btn-lg btn-success " href="account" role="button">Save</a> --}}
                                <input type="submit" class="btn btn-lg btn-success" value="Save">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
    <div class="card bg-light">
        <h3>Cars:</h3>
        <ul>
            {{#if cars}}
                {{#each cars}}
                    <li>{{this.plate}}<span class="_car-info"> ({{this.model}} - {{this.color}})</span></li>
                {{/each}}
            {{/if}}   
        </ul> 
    </div>
      

    <div class="d-flex justify-content-between p-5">
        <a class="btn btn-secondary btn-lg" href="/logout" role="button">Log out</a>
        <div class="">
            <button type="button" id="myBtn3" class="btn btn-lg btn-primary"><i class="fa fa-car"></i> Add new car</button>
            <div id="myModalCar" class="modal fade" tabindex="-1">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <form action="/account/add_new_car" method="post">
                            <div class="modal-header">
                                <h5 class="modal-title">Add new car</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <p class="_modal-text">Car info</p>
                                <div class="d-block text-nowrap">
                                    <label for="platee">Plate</label>
                                    <input type="text" id="platee" name="plate" placeholder="XXX0000" required>
                                </div>
                                <div class="d-block text-nowrap">
                                    <label for="mdl">Model</label>
                                    <input type="text" id="mdl" name="model" placeholder="ford">
                                </div>
                                <div class="d-block text-nowrap">
                                    <label for="clr">Color</label>
                                    <input type="text" id="clr" name="color" placeholder="black">
                                </div>
                                <div class="d-flex justify-content-end">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-lg btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <input type="submit" class="btn btn-lg btn-primary" value="Add">
                                {{!-- <a class="btn btn-lg btn-primary" href="/account/add_new_car"
                                            role="button">Add</a> --}}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <button type="button" id="myBtn" class="btn btn-lg btn-danger">Delete Account</button>
            <div id="myModalDelete" class="modal fade" tabindex="-1">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Confirmation</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <p class="_modal-text">Are you sure you want to delete permanently your account?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-lg btn-secondary"
                                data-bs-dismiss="modal">Cancel</button>
                            <a class="btn btn-lg btn-danger" href="/account/delete" role="button">Delete Account
                                permanently</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var btn = document.getElementById("myBtn");
        btn.addEventListener("click", function () {
            var myModalDelete = new bootstrap.Modal(document.getElementById("myModalDelete"));
            myModalDelete.show();
        });
        var btn2 = document.getElementById("myBtn2");
        btn2.addEventListener("click", function () {
            var myModalSave = new bootstrap.Modal(document.getElementById("myModalSave"));
            myModalSave.show();
        });
        var btn3 = document.getElementById("myBtn3");
        btn3.addEventListener("click", function () {
            var myModalCar = new bootstrap.Modal(document.getElementById("myModalCar"));
            myModalCar.show();
        });
    });
</script>