{{!-- <section class="vh-100" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <h3 class="mb-5">Sign in</h3>
                        <div class="form-outline mb-4">
                            <input type="email" id="typeEmailX-2" class="form-control form-control-lg" />
                            <label class="form-label" for="typeEmailX-2">Email</label>
                        </div>
                        <div class="form-outline mb-4">
                            <input type="password" id="typePasswordX-2" class="form-control form-control-lg" />
                            <label class="form-label" for="typePasswordX-2">Password</label>
                        </div>

                        <div class="form-check d-flex justify-content-start mb-4">
                            <input class="form-check-input" type="checkbox" value="" id="form1Example3" />
                            <label class="form-check-label" for="form1Example3"> Remember password </label>
                        </div>
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
                        <hr class="my-4">
                        <button class="btn btn-lg btn-block btn-primary" style="background-color: #dd4b39;"
                            type="submit"><i class="fa fa-google me-2"></i> Sign in with google</button>
                        <button class="btn btn-lg btn-block btn-primary mb-2" style="background-color: #3b5998;"
                            type="submit"><i class="fa fa-facebook-f me-2"></i>Sign in with facebook</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> --}}
<div class="row">
    <div class="col text-white d-flex justify-content-center p-0">
        <form action="" method="post" class="card">
            <div class="login-box">
                <div class="login-snip">
                    <input id="tab-1" type="radio" name="tab" class="sign-in" checked>
                    <label for="tab-1" class="tab">{{#if lang}}Συνδεση{{else}}Login{{/if}}</label>
                    <label for="tab-2" class="tab"><a href="/sign_up">{{#if lang}}Εγγραφη{{else}}Sign Up{{/if}}</a></label>
                    <div class="login-space">
                        <div class="login-form">
                            <div class="group">
                                <label for="email" class="label">{{#if lang}}Email:{{else}}Email:{{/if}}</label>
                                <input id="email" type="email" class="input" name="email" placeholder={{#if lang}}"Εισάγετε το email σας"{{else}}"Enter your email"{{/if}} autofocus pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                            </div>
                            <div class="group">
                                <label for="pass" class="label">{{#if lang}}Κωδικός πρόσβασης:{{else}}Password:{{/if}}</label>
                                <input id="pass" type="password" class="input" name="password" data-type="password" placeholder={{#if lang}}"Εισάγετε τον κωδικό σας"{{else}}"Enter your password"{{/if}} pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                            </div>
                            {{!-- <div class="group">
                                <input id="check" type="checkbox" class="check" checked>
                                <label for="check"><span class="icon"></span> Keep me Signed in</label>
                            </div> --}}
                            <div class="group">
                                <input type="submit" class="button" value={{#if lang}}"Συνδεση"{{else}}"Sign In"{{/if}}>
                            </div>
                            <hr>
                            <div class="foot">
                                {{!-- <a href="">Forgot Password?</a> --}}
                                <a href="/sign_up"><label for="tab-2">{{#if lang}}Δεν είστε μέλος; Δημιουργήστε έναν λογαριασμό{{else}}Not a Member? Create an account{{/if}}</label></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>