<script>
    document.addEventListener("DOMContentLoaded", function () {
        var btn = document.getElementById("myBtn");
        btn.addEventListener("click", function () {
            var myModal = new bootstrap.Modal(document.getElementById("myModal"));
            myModal.show();
        });
        var btn2 = document.getElementById("myBtn2");
        btn2.addEventListener("click", function () {
            var myModal2 = new bootstrap.Modal(document.getElementById("myModal2"));
            myModal2.show();
        });
    });
</script>

<div id="_account">
    <p>Ο Λογαριασμός μου</p>

    <form action="" method="post">
        <fieldset>
            <legend>Update your account</legend>
            <label for="m-f-email">Email:</label>
            <input type="email" id="m-f-email" name="email" placeholder="someone@example.com" value='{{user.email}}'
                autofocus pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>

            <label for="m-f-pswd">Κωδικός πρόσβασης:</label>
            <input type="password" id="m-f-pswd" name="password" placeholder="********"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>

            <label for="m-f-name">Ονοματεπώνυμο:</label>
            <input type="text" id="m-f-name" name="name" placeholder="Firstname Lastname" value='{{user.name}}'
                required>

            <label for="m-f-phone">Τηλέφωνο:</label>
            <input type="tel" id="m-f-phone" name="phone" placeholder="69********" value='{{user.phone}}'
                pattern="[0-9]{10}" required>

            <label>Γλώσσα:</label>
            <input type="radio" id="a" name="lang" value="0" {{#if lang}} {{else}}checked{{/if}}>
            <label for="a">Αγγλικά</label>
            <input type="radio" id="b" name="lang" value="1" {{#if lang}}checked{{else}}{{/if}}>
            <label for="b">Ελληνικά</label>

            <div class="d-flex justify-content-end mx-5 my-2">
                <button type="button" id="myBtn2" class="btn btn-lg btn-success">Save</button>
                <div id="myModal2" class="modal fade" tabindex="-1">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Save changes</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <p class="_modal-text">Confirm password</p>
                                <input type="password" name="password2" placeholder="********"
                                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-lg btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                {{!-- <a class="btn btn-lg btn-success btn-primary" href="account"
                                    role="button">Save</a> --}}
                                <input type="submit" class="btn btn-lg btn-success btn-primary" value="Save">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
    <div class="d-flex justify-content-between p-5">
        <a class="btn btn-secondary btn-lg" href="/logout" role="button">Log out</a>
        <div class="">
            <button type="button" id="myBtn" class="btn btn-lg btn-danger">Delete Account</button>
            <div id="myModal" class="modal fade" tabindex="-1">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Confirmation</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <p class="_modal-text">Are you sure you want to delete permanently your account?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-lg btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <a class="btn btn-lg btn-danger" href="/account/delete" role="button">Delete Account permanently</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{{#if lang}}

{{else}}

{{/if}}