<p>{{#if lang}}Η Επιχειρησή μου{{else}}My Business{{/if}}</p>
<div class="row">
    <div class="col text-white d-flex p-0">
        <form action="" method="post" class="card card3" id="_form4">
            <div class="login-box login-box2">
                <div class="login-snip login-snip2">
                    <div class="login-space">
                        <div class="row">
                            <div class="col-3 border-right mx-0">
                                <div class="group">
                                    <label for="_f_email" class="label">{{#if lang}}Email:{{else}}Email:{{/if}}</label>
                                    <input type="email" id="_f_email" name="email" class="input" placeholder="someone@example.com" autofocus pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                                </div>
                                <div class="group">
                                    <label for="_f_tin" class="label">{{#if lang}}ΑΦΜ:{{else}}Tin:{{/if}}</label>
                                    <input type="number" id="_f_tin" name="tin" class="input" pattern="[0-9]+" required>
                                </div>
                                <div class="group">
                                    <label for="_f_company_name" class="label">{{#if lang}}Επωνυμία Εταιρίας:{{else}}Company name:{{/if}}</label>
                                    <input type="text" id="_f_company_name" name="company_name" class="input" required>
                                </div>
                                <div class="group">
                                    <label for="_f_tax_office" class="label">{{#if lang}}Δ.Ο.Υ.:{{else}}Tax office:{{/if}}</label>
                                    <input type="text" id="_f_tax_office" name="tax_office" class="input" required>
                                </div>
                                <div class="group">
                                    <label for="_f_address" class="label">{{#if lang}}Έδρα:{{else}}Address:{{/if}}</label>
                                    <input type="text" id="_f_address" name="address" class="input" required>
                                </div>
                                <div class="group">
                                    <label for="_f_phone" class="label">{{#if lang}}Τηλέφωνο:{{else}}Phone:{{/if}}</label>
                                    <input type="tel" id="_f_phone" name="phone" class="input" placeholder="69********" pattern="[0-9]{10}" required>
                                </div>
                                <div class="group">
                                    <label>{{#if lang}}Γλώσσα:{{else}}Language:{{/if}}</label>
                                    <input type="radio" id="a" name="lang" value="0" {{#unless lang}}checked{{/unless}}>
                                    <label for="a">{{#if lang}}Αγγλικά{{else}}English{{/if}}</label>
                                    <input type="radio" id="b" name="lang" value="1" {{#if lang}}checked{{/if}}>
                                    <label for="b">{{#if lang}}Ελληνικά{{else}}Greek{{/if}}</label>
                                </div>
                            </div>
                            <div class="col-2 border-right mx-0">
                                <div class="group">
                                    <label for="_f_lots" class="label">{{#if lang}}Διαθέσιμες θέσεις parking:{{else}}Available parking lots:{{/if}}</label>
                                    <input type="number" id="_f_lots" name="lots" class="input" min="0" pattern="[0-9]+" required>
                                </div>
                                <div class="group">
                                    <label for="_f_location" class="label">{{#if lang}}Τοποθεσία:{{else}}Location:{{/if}}</label>
                                    <input type="text" id="_f_location" name="location" class="input" required hidden readonly>
                                    <div id="map" style="height: 200px; width: 200px;"></div>
                                </div>
                                <div class="group">
                                    <label for="_f_name" class="label">{{#if lang}}Ονομα:{{else}}Name:{{/if}}</label>
                                    <input type="text" id="_f_name" name="name" class="input" required>
                                </div>
                                <div class="group">
                                    <label for="_f_parking_type" class="label">{{#if lang}}Είδος Parking:{{else}}Parking type:{{/if}}</label>
                                    <select name="parking_type" id="_f_parking_type" class="input">
                                        <option value=0>{{#if lang}}Πόλης{{else}}City{{/if}}</option>
                                        <option value=1>{{#if lang}}Αεροδρόμιο{{else}}Airport{{/if}}</option>
                                        <option value=2>{{#if lang}}Λιμάνι{{else}}Port{{/if}}</option>
                                    </select>
                                </div>
                                <div class="group">
                                    <label for="_f_photo" class="label">{{#if lang}}Φωτογραφία:{{else}}Photo:{{/if}}</label>
                                    <input type="text" id="_f_photo" name="photo" class="input" required>
                                </div>
                                <div class="group">
                                    <img id="img_" style="height: auto; max-width: 180px" src="" />
                                    <button type="button" id="myBtn3" class="btn btn-lg btn-success">{{#if lang}}Νέα φωτογραφία{{else}}New Image{{/if}}</button>
                                    <button type="button" id="myBtn4" class="btn btn-lg btn-danger">{{#if lang}}Διαγραφή φωτογραφίας{{else}}Delete Image{{/if}}</button>
                                </div>
                            </div>
                            <div class="col-3 border-right mx-0">
                                <div class="group">
                                    <label for="_f_s_height" class="label">{{#if lang}}Μέγιστο επιτρεπόμενο ύψος (μ):{{else}}Maximum height allowed (m):{{/if}}</label>
                                    <input type="text" id="_f_s_height" name="s_height" class="input" required>
                                </div>
                                <div class="group">
                                    <label for="_f_s_length" class="label">{{#if lang}}Μέγιστο επιτρεπόμενο μήκος (μ):{{else}}Maximum length allowed (m):{{/if}}</label>
                                    <input type="text" id="_f_s_length" name="s_length" class="input" required>
                                </div>
                                <div class="group">
                                    <input type="checkbox" id="24/7_" name="work_hours_0" class="check" value="1">
                                    <label for="24/7_" class="label"><span class="icon"></span> {{#if lang}}Ανοιχτά όλο το 24ωρο καθημερινά{{else}}Open daily 24 hours a day{{/if}}</label>
                                </div>
                                <div class="group">
                                    <span id="work_hours_">
                                        <label for="_f_work_hours1" class="label">{{#if lang}}Δευτέρα:{{else}}Monday:{{/if}}</label>
                                        <input type="time" id="_f_work_hours1" name="work_hours1" class="input input2" required>&nbsp;-
                                        <input type="time" id="_f_work_hours1b" name="work_hours1b" class="input input2" required>
                                        <label for="_f_work_hours2" class="label">{{#if lang}}Τρίτη:{{else}}Tuesday:{{/if}}</label>
                                        <input type="time" id="_f_work_hours2" name="work_hours2" class="input input2" required>&nbsp;-
                                        <input type="time" id="_f_work_hours2b" name="work_hours2b" class="input input2" required>
                                        <label for="_f_work_hours3" class="label">{{#if lang}}Τετάρτη:{{else}}Wednesday:{{/if}}</label>
                                        <input type="time" id="_f_work_hours3" name="work_hours3" class="input input2" required>&nbsp;-
                                        <input type="time" id="_f_work_hours3b" name="work_hours3b" class="input input2" required>
                                        <label for="_f_work_hours4" class="label">{{#if lang}}Πέμπτη:{{else}}Thursday:{{/if}}</label>
                                        <input type="time" id="_f_work_hours4" name="work_hours4" class="input input2" required>&nbsp;-
                                        <input type="time" id="_f_work_hours4b" name="work_hours4b" class="input input2" required>
                                        <label for="_f_work_hours5" class="label">{{#if lang}}Παρασκευή:{{else}}Friday:{{/if}}</label>
                                        <input type="time" id="_f_work_hours5" name="work_hours5" class="input input2" required>&nbsp;-
                                        <input type="time" id="_f_work_hours5b" name="work_hours5b" class="input input2" required>
                                        <label for="_f_work_hours6" class="label">{{#if lang}}Σάββατο:{{else}}Saturday:{{/if}}</label>
                                        <input type="time" id="_f_work_hours6" name="work_hours6" class="input input2" required>&nbsp;-
                                        <input type="time" id="_f_work_hours6b" name="work_hours6b" class="input input2" required>
                                        <label for="_f_work_hours7" class="label">{{#if lang}}Κυριακή:{{else}}Sunday:{{/if}}</label>
                                        <input type="time" id="_f_work_hours7" name="work_hours7" class="input input2" required>&nbsp;-
                                        <input type="time" id="_f_work_hours7b" name="work_hours7b" class="input input2" required>
                                    </span>
                                </div>
                            </div>
                            <div class="col-4 mx-0">
                                <div class="group">
                                    <label for="_f_price_list1" class="label label2">{{#if lang}}1 ώρα:{{else}}1 hour:{{/if}}</label>
                                    <input type="text" id="_f_price_list1" name="price_list1" class="input input3" required>
                                    <label for="_f_price_list2" class="label label2">{{#if lang}}2 ώρες:{{else}}2 hours:{{/if}}</label>
                                    <input type="text" id="_f_price_list2" name="price_list2" class="input input3" required>
                                    <label for="_f_price_list3" class="label label2">{{#if lang}}3 ώρες:{{else}}3 hours:{{/if}}</label>
                                    <input type="text" id="_f_price_list3" name="price_list3" class="input input3" required><br>
                                    <label for="_f_price_list4" class="label label2">{{#if lang}}Επιπλέον χρέωση μετά τις 3 ώρες: (/ώρα){{else}}Extra charge after 3 hours: (/hour){{/if}}</label>
                                    <input type="text" id="_f_price_list4" name="price_list4" class="input input3" required><br>
                                    <label for="_f_price_list5" class="label label2">{{#if lang}}1 μέρα:{{else}}1 day:{{/if}}</label>
                                    <input type="text" id="_f_price_list5" name="price_list5" class="input input3" required>
                                    <label for="_f_price_list6" class="label label2">{{#if lang}}2 μέρες:{{else}}2 days:{{/if}}</label>
                                    <input type="text" id="_f_price_list6" name="price_list6" class="input input3" required>
                                    <label for="_f_price_list7" class="label label2">{{#if lang}}3 μέρες:{{else}}3 days:{{/if}}</label>
                                    <input type="text" id="_f_price_list7" name="price_list7" class="input input3" required><br>
                                    <label for="_f_price_list8" class="label label2">{{#if lang}}Επιπλέον χρέωση μετά τις 3 μέρες: (/μέρα){{else}}Extra charge after 3 days: (/day){{/if}}</label>
                                    <input type="text" id="_f_price_list8" name="price_list8" class="input input3" required><br>
                                    <label for="_f_price_list9" class="label label2">{{#if lang}}1 μήνας:{{else}}1 month:{{/if}}</label>
                                    <input type="text" id="_f_price_list9" name="price_list9" class="input input3" required>
                                    <label for="_f_price_list10" class="label label2">{{#if lang}}2 μήνες:{{else}}2 months:{{/if}}</label>
                                    <input type="text" id="_f_price_list10" name="price_list10" class="input input3" required>
                                    <label for="_f_price_list11" class="label label2">{{#if lang}}3 μήνες:{{else}}3 months:{{/if}}</label>
                                    <input type="text" id="_f_price_list11" name="price_list11" class="input input3" required><br>
                                    <label for="_f_price_list12" class="label label2">{{#if lang}}Επιπλέον χρέωση μετά τους 3 μήνες: (/μήνα){{else}}Extra charge after 3 months: (/month){{/if}}</label>
                                    <input type="text" id="_f_price_list12" name="price_list12" class="input input3" required>
                                </div>
                                <div class="group">
                                    <label for="_f_discount" class="label">{{#if lang}}Έκπτωση(%):{{else}}Discount(%):{{/if}}</label>
                                    <input type="number" class="input" id="_f_discount" name="discount" min="0" max="100" step="1">
                                </div>
                                <div class="group">
                                    <input type="hidden" id="_f_1h" name="s_covered" value="0">
                                    <input type="checkbox" id="_f_1" name="s_covered" class="check" value="1">
                                    <label for="_f_1" class="label"><span class="icon"></span> {{#if lang}}Στεγασμένος χώρος{{else}}Covered area{{/if}}</label>
                                </div>
                                <div class="group">
                                    <input type="hidden" id="_f_2h" name="s_keys" value="0">
                                    <input type="checkbox" id="_f_2" name="s_keys" class="check" value="1">
                                    <label for="_f_2" class="label"><span class="icon"></span> {{#if lang}}Τα κλειδιά παραμένουν στο parking{{else}}Keys remain in the parking lot{{/if}}</label>
                                </div>
                                <div class="group">
                                    <input type="hidden" id="_f_3h" name="s_card" value="0">
                                    <input type="checkbox" id="_f_3" name="s_card" class="check" value="1">
                                    <label for="_f_3" class="label"><span class="icon"></span> {{#if lang}}Πληρωμή με κάρτα στο χώρο του parking{{else}}Payment by card in the parking{{/if}}</label>
                                </div>
                                <div class="group">
                                    <input type="hidden" id="_f_4h" name="s_charger" value="0">
                                    <input type="checkbox" id="_f_4" name="s_charger" class="check" value="1">
                                    <label for="_f_4" class="label"><span class="icon"></span> {{#if lang}}Φορτιστής ηλεκτρικών οχημάτων{{else}}Electric vehicle charger{{/if}}</label>
                                </div>
                                <div class="group">
                                    <input type="hidden" id="_f_5h" name="s_english" value="0">
                                    <input type="checkbox" id="_f_5" name="s_english" class="check" value="1">
                                    <label for="_f_5" class="label"><span class="icon"></span> {{#if lang}}Αγγλικά{{else}}English{{/if}}</label>
                                </div>
                                <div class="group">
                                    <input type="hidden" id="_f_6h" name="s_camera" value="0">
                                    <input type="checkbox" id="_f_6" name="s_camera" class="check" value="1">
                                    <label for="_f_6" class="label"><span class="icon"></span> {{#if lang}}24ωρη παρακολούθηση από κάμερες{{else}}24 hour surveillance by cameras{{/if}}</label>
                                </div>
                                <div class="group">
                                    <input type="hidden" id="_f_7h" name="s_wash" value="0">
                                    <input type="checkbox" id="_f_7" name="s_wash" class="check" value="1">
                                    <label for="_f_7" class="label"><span class="icon"></span> {{#if lang}}Πλυντήριο{{else}}Wash{{/if}}</label>
                                </div>
                                <div class="group">
                                    <label for="_f_info" class="label">{{#if lang}}Επιπλέον πληροφορίες:{{else}}Extra Info:{{/if}}</label>
                                    <input type="text" id="_f_info" name="info" class="input" required>
                                </div>
                            </div>
                            <hr>
                            <div class="d-flex justify-content-between p-5">
                                <a class="btn btn-secondary btn-lg" href="/parking_station/logout" role="button">{{#if lang}}Αποσύνδεση{{else}}Log out{{/if}}</a>
                                <button type="button" id="myBtn" class="btn btn-lg btn-danger">{{#if lang}}Διαγραφή Λογαριασμού{{else}}Delete Account{{/if}}</button>
                                <div>
                                    <button type="button" id="myBtn5" class="btn btn-lg btn-secondary me-5">{{#if lang}}Αλλαγή κωδικού{{else}}Change password{{/if}}</button>
                                    <button type="button" id="myBtn2" class="btn btn-lg btn-success">{{#if lang}}Αποθήκευση{{else}}Save{{/if}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="myModalDelete" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{#if lag}}Επιβεβαίωση{{else}}Confirmation{{/if}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="/parking_station/account/delete" id="del_acc">
                    <p class="_modal-text">{{#if lag}}Είστε σίγουρος ότι θέλετε να διαγράψετε οριστικά τον λογαριασμό σας;{{else}}Are you sure you want to delete permanently your account?{{/if}}</p>
                    <label for="pass_con" class="_modal-text">{{#if lag}}Επιβεβαίωση κωδικού:{{else}}Confirm password:{{/if}}</label>
                    <input id="pass_con" type="password" name="password3" placeholder="********" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-secondary" data-bs-dismiss="modal">{{#if lag}}Άκυρο{{else}}Cancel{{/if}}</button>
                <button class="btn btn-lg btn-danger" form="del_acc" type="submit">{{#if lag}}Οριστική διαγραφή λογαριασμού{{else}}Delete account permanently{{/if}}</button>
            </div>
        </div>
    </div>
</div>
<div id="myModalAddImg" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{#if lag}}Προσθήκη / ενημέρωση φωτογραφίας parking{{else}}Add / update parking station image{{/if}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="add_image_" method="post" action="/parking_station/upload_image" enctype="multipart/form-data">
                    <label>{{#if lag}}Ανεβάστε φωτογραφία προφίλ{{else}}Upload profile picture{{/if}}</label>
                    <input type="file" name="image_file" required />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-secondary" data-bs-dismiss="modal">{{#if lag}}Άκυρο{{else}}Cancel{{/if}}</button>
                <input type="submit" form="add_image_" class="btn btn-lg btn-success" value={{#if lang}}"Ανέβασμα"{{else}}"Upload"{{/if}}>
            </div>
        </div>
    </div>
</div>
<div id="myModalDeleteImg" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{#if lag}}Επιβεβαίωση{{else}}Confirmation{{/if}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p class="_modal-text">{{#if lag}}Είστε σίγουρος ότι θέλετε να διαγράψετε οριστικά την φωτογραφία προφίλ σας;{{else}}Are you sure you want to delete permanently your profile image?{{/if}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-secondary" data-bs-dismiss="modal">{{#if lag}}Άκυρο{{else}}Cancel{{/if}}</button>
                <a class="btn btn-lg btn-danger" href="/parking_station/delete_image" role="button">{{#if lag}}Διαγραφή φωτογραφίας{{else}}Delete Image{{/if}}</a>
            </div>
        </div>
    </div>
</div>
<div id="myModalSave" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{#if lag}}Αποθήκευση αλλαγών{{else}}Save changes{{/if}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p class="_modal-text">{{#if lag}}Επιβεβαίωση κωδικού:{{else}}Confirm password{{/if}}</p>
                <input type="password" form="_form4" name="password" placeholder="********" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-secondary" data-bs-dismiss="modal">{{#if lag}}Άκυρο{{else}}Cancel{{/if}}</button>
                <input type="submit" class="btn btn-lg btn-success" form="_form4" value={{#if lang}}"Αποθήκευση"{{else}}"Save"{{/if}}>
            </div>
        </div>
    </div>
</div>
<div id="myModalEditPass" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{#if lag}}Αλλαγή κωδικού{{else}}Change password{{/if}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form action="/parking_station/account_pass" method="post" id="ch_pass">
                    <p class="_modal-text">{{#if lag}}Παλιός κωδικός{{else}}Old password{{/if}}</p>
                    <input type="password" name="password" placeholder="********" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                    <p class="_modal-text">{{#if lag}}Νέος κωδικός{{else}}New password{{/if}}</p>
                    <input type="password" name="password2" placeholder="********" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                    <p class="_modal-text">{{#if lag}}Επιβεβαίωση νέου κωδικού:{{else}}Confirm new password{{/if}}</p>
                    <input type="password" name="password3" placeholder="********" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-secondary" data-bs-dismiss="modal">{{#if lag}}Άκυρο{{else}}Cancel{{/if}}</button>
                <input type="submit" form="ch_pass" class="btn btn-lg btn-success" value={{#if lang}}"Αποθήκευση"{{else}}"Save"{{/if}}>
            </div>
        </div>
    </div>
</div>

<script>
    // get data from backend
    const parking_station = {{{ ps_data }}};
    // autocomplete inputs with loaded data
    const fields = Object.keys(parking_station);
    // image section
    const img = document.getElementById('img_');
    img.addEventListener('error', function handleError() {
        document.getElementById('myBtn4').style.display = 'none';
        img.style.display = 'none';
    });
    img.src = "/user_images/p" + parking_station.id + ".jpeg";

    document.getElementById("24/7_").addEventListener("change", function () {
        if (this.checked) {
            for (let i = 1; i <= 7; i++) {
                document.getElementById("_f_work_hours" + i).required = false;
                document.getElementById("_f_work_hours" + i + "b").required = false;
            }
            document.getElementById("work_hours_").hidden = true;
        }
        else {
            for (let i = 1; i <= 7; i++) {
                document.getElementById("_f_work_hours" + i).required = true;
                document.getElementById("_f_work_hours" + i + "b").required = true;
            }
            document.getElementById("work_hours_").hidden = false;
        }
    });
    // load saved values
    for (let field of fields) {
        //if (field === "parking_type") {
        //    document.getElementById("_f_"+field).value = parking_station[field];
        //}
        //else 
        if (field === "work_hours") {
            if (parking_station[field] === "24/7") {
                document.getElementById("24/7_").checked = true;
                document.getElementById("work_hours_").hidden = true;
                for (let i = 1; i <= 7; i++) {
                    document.getElementById("_f_" + field + i).required = false;
                    document.getElementById("_f_" + field + i + "b").required = false;
                }
            }
            else {
                //document.getElementById("work_hours_").hidden = false;
                let hrs = parking_station[field].split(",");
                let i = 1;
                for (let d_hr of hrs) {
                    document.getElementById("_f_" + field + i).value = d_hr.split("-")[0];
                    document.getElementById("_f_" + field + i + "b").value = d_hr.split("-")[1];
                    i++;
                }
            }

        }
        else if (field === "price_list") {
            let h = parking_station[field].split("d")[0].slice(1).split(",");
            let d = parking_station[field].split("d")[1].split("m")[0].split(",");
            let m = parking_station[field].split("m")[1].split(",");
            for (let i = 1; i <= 12; i++) {
                if (i <= 4) {
                    document.getElementById("_f_" + field + i).value = h[i - 1];
                }
                else if (i <= 8) {
                    document.getElementById("_f_" + field + i).value = d[i - 5];
                }
                else {
                    document.getElementById("_f_" + field + i).value = m[i - 9];
                }
            }
        }
        else if (document.getElementById("_f_" + field)) {
            document.getElementById("_f_" + field).value = parking_station[field];
            if (field === "lots") document.getElementById("_f_" + field).min = parking_station[field];
        }
        else {
            if (document.querySelector("input[name=" + field + "]") && parking_station[field] === 1) document.querySelectorAll("input[name=" + field + "]")[1].checked = true;
        }
    }

    // modals
    document.addEventListener("DOMContentLoaded", function () {
        var btn = document.getElementById("myBtn");
        btn.addEventListener("click", function () {
            var myModalDelete = new bootstrap.Modal(document.getElementById("myModalDelete"));
            myModalDelete.show();
        });
        var btn2 = document.getElementById("myBtn2");
        btn2.addEventListener("click", function () {
            var myModalSave = new bootstrap.Modal(document.getElementById("myModalSave"));
            myModalSave.show();
        });
        var btn3 = document.getElementById("myBtn3");
        btn3.addEventListener("click", function () {
            var myModalAddImg = new bootstrap.Modal(document.getElementById("myModalAddImg"));
            myModalAddImg.show();
        });
        var btn4 = document.getElementById("myBtn4");
        btn4.addEventListener("click", function () {
            var myModalDelImg = new bootstrap.Modal(document.getElementById("myModalDeleteImg"));
            myModalDelImg.show();
        });
        var btn5 = document.getElementById("myBtn5");
        btn5.addEventListener("click", function () {
            var myModalEditPass = new bootstrap.Modal(document.getElementById("myModalEditPass"));
            myModalEditPass.show();
        });
    });
    // send value if checkbox unchecked
    document.getElementById("_form4").addEventListener('submit', () => {
        for (let i = 1; i <= 7; i++) {
            if (document.getElementById("_f_" + i).checked) document.getElementById("_f_" + i + "h").disabled = true;
        }
    });

    mapboxgl.accessToken = 'pk.eyJ1IjoibWlob3NtaWtlIiwiYSI6ImNsNG8xcTJndjAwdDEza2xoMjRjZnhlcnoifQ.14_-vR9YsWexqJngngO1HA';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [parking_station.location.split("/")[0], parking_station.location.split("/")[1]],
        zoom: 13
    });

    let marker = "";
    map.on('style.load', function () {
        marker = new mapboxgl.Marker({ draggable: true }).setLngLat([parking_station.location.split("/")[0], parking_station.location.split("/")[1]]).addTo(map);
        marker.on('dragend', function () {
            const lngLat = marker.getLngLat();
            document.getElementById("_f_location").value = lngLat.lng + "/" + lngLat.lat;
        });
        map.on('click', function (e) {
            const lngLat = e.lngLat;
            document.getElementById("_f_location").value = lngLat.lng + "/" + lngLat.lat;
            marker.setLngLat(lngLat);
        });
    });
</script>