{{#if lang}}

{{else}}

{{/if}}
<h3>Parking Lots (occupied):</h3>
{{!-- <label for="file">Downloading progress:</label>
<progress id="file" value="{{pl_per}}" max="100"> {{pl_per}}% </progress> --}}
<div class="d-flex mb-5">
    <div class="progress mb-3 w-50" style="height: 30px;">
        <div id="_prog_bar" class="progress-bar progress-bar-animated progress-bar-striped bg-success"
            role="progressbar" style="width: {{pl_per}}%; font-size: 25px;">{{pl_per}}%</div>
    </div>
    <button type="button" id="myBtn-nr" class="btn btn-lg btn-danger d-block mx-auto _btn_modal"
        style="font-size: 20px; width: 12%; height: 100%;">New Reservation</button>
    <div id="myModal-nr" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add New Reservation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form action="/parking_station/home" method="post" id="_form2">
                        {{#if drivers}}
                        <div class="text-nowrap">
                            <label for="ps_driver">Driver:</label>
                            <select name="driver" id="ps_driver">
                                <option value="new">New</option>
                                {{#each drivers}}
                                <option value="{{this.id}}">{{this.name}} <small>({{this.email}},{{this.phone}})</small></option>
                                {{/each}}
                            </select>
                        </div>
                        {{/if}}
                        <div id="dr_">
                            <div class="text-nowrap">
                                <label for="ff-email" class="label">Email</label>
                                <input id="ff-email" type="email" name="email" class="input"
                                    placeholder="someone@example.com" autofocus
                                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                            </div>
                            <div class="text-nowrap">
                                <label for="ff-name" class="label">Full Name</label>
                                <input id="ff-name" type="text" name="name" class="input"
                                    placeholder="Enter your full name" required>
                            </div>
                            <div class="text-nowrap">
                                <label for="ff-phone" class="label">Phone</label>
                                <input id="ff-phone" type="tel" name="phone" class="input" placeholder="69********"
                                    pattern="[0-9]{10}" required>
                            </div>
                        </div>
                        {{#if cars}}
                        <div class="text-nowrap" id="ps_car_">
                            <label for="ps_car">Car:</label>
                            <select name="car" id="ps_car">
                                <option value="new">New</option>
                                {{#each cars}}
                                <option value="{{this.id}}" title="{{this.driver_id}}" class="to_hide">{{this.plate}}<small> ({{this.model}}-{{this.color}})</small>
                                </option>
                                {{/each}}
                            </select>
                        </div>
                        {{/if}}
                        <div id="cr_">
                            <div class="text-nowrap">
                                <label for="ff-plate">Plate</label>
                                <input type="text" id="ff-plate" name="plate" placeholder="XXX0000" required>
                            </div>
                            <div class="text-nowrap">
                                <label for="ff-model">Model</label>
                                <input type="text" id="ff-model" name="model">
                            </div>
                            <div class="text-nowrap">
                                <label for="ff-color">Color</label>
                                <input type="text" id="ff-color" name="color">
                            </div>
                        </div>
                        <div class="text-nowrap">
                            <label for="ff-r_start">Έναρξη χρέωσης (Άφιξη):</label>
                            <input type="datetime-local" id="ff-r_start" name="r_start" required>
                        </div>
                        <div class="text-nowrap">
                            <label for="ff-r_end">Λήξη Χρέωσης (Αναχώρηση): </label>
                            <input type="datetime-local" id="ff-r_end" name="r_end" required>
                        </div>
                        <div class="text-nowrap">
                            <label for="ff-price">Price: </label>
                            <input type="text" id="ff-price" name="price"> €
                        </div>
                        <div class="text-nowrap">
                            {{#if empty_lots}}
                            <label for="plid">Lot:</label>
                            <select name="parking_lot_id" id="plid">
                                {{!-- load available parking lots --}}
                                {{#each empty_lots}}
                                <option value="{{this}}">{{this}}</option>
                                {{/each}}
                            </select>
                            {{/if}}
                        </div>

                        <div class="d-flex justify-content-between mt-5">
                            <button type="button" class="btn btn-lg btn-secondary"
                                data-bs-dismiss="modal">Cancel</button>
                            <input type="submit" {{#unless empty_lots}}hidden{{/unless}} class="btn btn-lg btn-success"
                                value="Add" onclick="add_resv()">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{#if records}}
<h3 class="text-center">Reservations</h3>
<div class=" bg-primary table-wrapper-scroll-y my-custom-scrollbar _history-table">
    <table class="table table-bordered m-0" id="resv_table">
        <thead style="position: sticky; top: 0" class="bg-dark text-white">
            <tr>
                <th>ID</th>
                <th>Parking lot</th>
                <th>Date start</th>
                <th>Date end</th>
                <th>Price</th>
                <th>Driver</th>
                <th>Plate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each records}}
            <tr class="_resv" id="{{this.id}}">
                <td>{{this.id}}</td>
                <td>{{this.parking_lot_id}}</td>
                <td class="_t_replace">{{this.r_start}}</td>
                <td class="_t_replace">{{this.r_end}}</td>
                <td>{{this.price}} €</td>
                <td>{{this.name}}, {{this.phone}} <p class="m-0 _history-note2" id="eml-{{this.id}}">{{this.email}}</p>
                </td>
                <td>{{this.plate}} <p class="m-0 _history-note2">({{this.model}}, {{this.color}})</p>
                </td>
                <td class="d-flex"></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <div id="myModalEdit-" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Reservation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form action="/parking_station/update_reservation" method="post" id="myEditForm-">
                        <input type="number" id="resv__id-" hidden name="_id" value="">
                        <input type="email" id="resv_d_email-" hidden name="d_email" value="">
                        <div class="text-nowrap">
                            <label for="ff-price-">Price:</label>
                            <input type="text" id="ff-price-" name="price" placeholder="" value=""> €
                        </div>
                    </form>
                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <button type="button" class="btn btn-lg btn-secondary " data-bs-dismiss="modal">Cancel</button>
                    <input type="submit" form="myEditForm-" class="btn btn-lg btn-success" value="Update">
                </div>
            </div>
        </div>
    </div>
    <div id="myModalDel-" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p class="_modal-text">Are you sure you want to delete this reservation?</p>
                    <form action="/parking_station/delete_reservation" method="post" id="myDelForm-">
                        <input type="number" id="resv_id--" hidden name="_id" value="">
                        <input type="text" id="resv_prc-" hidden name="_price" value="">
                        <input type="email" id="resv_d_email--" hidden name="d_email" value="">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-lg btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <input type="submit" form="myDelForm-" class="btn btn-lg btn-danger" value="Delete Reservation">
                </div>
            </div>
        </div>
    </div>
</div>
{{else}}
<p class="p-3 text-center">Oops none current reservation found</p>
{{/if}}


<script>
    let per = {{{ pl_per }}};
    let f_dt = {{{ form_data }}};
    var dat = document.querySelectorAll("._t_replace");
    var dats = [...dat];
    dats.forEach(datt => {
        datt.innerHTML = date_to_string(parseInt(datt.innerHTML));
    });

    if (per < 50) document.getElementById("_prog_bar").className = "progress-bar progress-bar-animated progress-bar-striped bg-success";
    else if (per < 75) document.getElementById("_prog_bar").className = "progress-bar progress-bar-animated progress-bar-striped bg-warning";
    else document.getElementById("_prog_bar").className = "progress-bar progress-bar-animated progress-bar-striped bg-danger";

    document.addEventListener("DOMContentLoaded", function () {
        if (f_dt) {
            var myModal = new bootstrap.Modal(document.getElementById("myModal-nr"));
            myModal.show();
            for (let field of Object.keys(f_dt)) {
                if (field === "driver" || field === "car") continue;
                document.getElementById("ff-" + field).value = f_dt[field];
            }
            if(f_dt.driver) document.getElementById("ps_driver").value = f_dt.driver;
            else document.getElementById("ps_driver").value = "new";
            if(f_dt.car) document.getElementById("ps_car").value = f_dt.car;
            else document.getElementById("ps_car").value = "new";
            
            
        }
        driver_car_selection();
        var btn = document.getElementById("myBtn-nr");
        btn.addEventListener("click", function () {
            var myModal = new bootstrap.Modal(document.getElementById("myModal-nr"));
            myModal.show();
        });

        highlight_future_reservations();
        enable_edit_delete_actions();

        edit_buttons();
        delete_buttons();
    });

    let _dt1 = document.getElementById("ff-r_start");
    let _dt2 = document.getElementById("ff-r_end");

    let today = new Date();
    let dd = today.getDate();
    let mm = today.getMonth() + 1; //January is 0!
    let hh = today.getHours();
    let mn = today.getMinutes();
    if (dd < 10) { dd = '0' + dd; }
    if (mm < 10) { mm = '0' + mm; }
    if (hh < 10) { hh = '0' + hh; }
    if (mn < 10) { mn = '0' + mn; }
    today = today.getFullYear() + '-' + mm + '-' + dd + 'T' + hh + ':' + mn;

    _dt1.min = today;
    _dt2.min = today;
    _dt1.value = today;
    _dt1.max = _dt2.value;
    _dt2.min = _dt1.value;
    //document.getElementById("ff-price").innerHTML = final_price_calculation("h5,7,9,1d20,30,40,5m50,70,90,10", _dt1.value, _dt2.value);
    //if (prc >= 0) document.getElementById("ff-price").innerHTML = prc; // calculate final price
    //else document.getElementById("ff-price").innerHTML = "";

    _dt2.addEventListener('change', function () {
        _dt1.max = _dt2.value;
        check_available();
    });
    _dt1.addEventListener('change', function () {
        _dt2.min = _dt1.value;
        check_available();
    });

    function delete_buttons() {
        let bn = document.querySelectorAll("._btn_del");
        if (bn.length) {
            let btns = [...bn];
            let myModal = new bootstrap.Modal(document.getElementById("myModalDel-"));
            let idd = "";
            btns.forEach(function (btn, idd) {
                idd = btn.id.split("--")[1];
                btn.addEventListener("click", function () {
                    myModal.show();
                    document.getElementById("resv_id--").value = idd;
                    document.getElementById("resv_prc-").value = document.getElementById(idd).cells[4].textContent.split(" ")[0];
                    document.getElementById("resv_d_email--").value = document.getElementById("eml-" + idd).textContent;
                });
            });
        }
    }

    function edit_buttons() {
        let bn = document.querySelectorAll("._btn_edit");
        if (bn.length) {
            let btns = [...bn];
            let myModal = new bootstrap.Modal(document.getElementById("myModalEdit-"));
            let idd = "";
            let h_dt = "";
            let rd = "";
            btns.forEach(function (btn, idd) {
                idd = btn.id.split("--")[1];
                btn.addEventListener("click", function () {
                    myModal.show();
                    document.getElementById("resv__id-").value = idd;
                    document.getElementById("resv_d_email-").value = document.getElementById("eml-" + idd).textContent;
                });
            });
        }
    }

    function enable_edit_delete_actions() { // only on future reservations
        let tbl = document.getElementById("resv_table");
        if (tbl) {
            for (let i = 1; i < tbl.rows.length; i++) {
                tbl.rows[i].cells[7].innerHTML = `<div><button type="button" id="myEditBtn--${tbl.rows[i].id}" class="btn btn-lg btn-dark d-block mx-3 _btn_edit"style="font-size: 18px;"><i class="fa fa-pencil"></i></button></div>
                <div><button type="button" id="myDelBtn--${tbl.rows[i].id}" class="btn btn-lg btn-dark d-block mx-3 _btn_del" style="font-size: 18px;"><i class="fa fa-trash-o"></i></button></div>` + tbl.rows[i].cells[7].innerHTML;
            }
        }
    }

    function highlight_future_reservations() { // highlight future reservations
        let tbl = document.getElementById("resv_table");
        if (tbl) {
            let tday = new Date();
            let h_dt = "";
            let rd = "";
            for (let i = 1; i < tbl.rows.length; i++) {
                rd = tbl.rows[i].cells[2].textContent;
                rd = rd.split(" ");
                rd[0] = rd[0].split("/");
                h_dt = rd[0][2] + "-" + rd[0][1] + "-" + rd[0][0] + "T" + rd[1] + ":00"
                //console.log(h_dt);
                if (tday.getTime() < Date.parse(h_dt)) {
                    tbl.rows[i].classList.add("bg-info");
                }
            }
        }
    }

    function check_available() {
        if (_dt1.value != "" && _dt2.value != "") {
            //document.getElementById("ff-price").value = final_price_calculation("h5,7,9,1d20,30,40,5m50,70,90,10", _dt1.value, _dt2.value); // calculate final price
            form = document.getElementById('_form2');
            //form.target='_blank';
            form.action = "/parking_station/home";
            form.submit();
            //document.getElementById("_form").submit();
        }
    }

    function add_resv() {
        form = document.getElementById('_form2');
        //form.target='_blank';
        form.action = "/parking_station/add_reservation";
        form.submit();
        //form.action='/';
        //form.target='';
    }

    function date_to_string(num) {
        let dtm_h = new Date(num);
        let dt_h = dtm_h.toLocaleDateString().split("/");
        if (dt_h[0] < 10) { dt_h[0] = '0' + dt_h[0]; }
        if (dt_h[1] < 10) { dt_h[1] = '0' + dt_h[1]; }
        let dt = dt_h[1] + "/" + dt_h[0] + "/" + dt_h[2];
        let tm = dtm_h.toTimeString().split(" ")[0].slice(0, 5);
        let dtm = dt + " " + tm;
        return dtm;
    }

    function driver_car_selection() {
        {{#if drivers}}
        let dr = document.getElementById("ps_driver");
        if (dr.value === "new") {
            document.getElementById("dr_").style.display = 'initial'; // show driver info
            document.getElementById("ps_car").value = "new"; // set car selection to new
            document.getElementById("ps_car_").style.display = 'none'; // hide car selection
            document.getElementById("cr_").style.display = 'initial'; // show car info
        }
        else {
            document.getElementById("dr_").style.display = 'none'; // hide driver info
            document.getElementById("ps_car_").style.display = 'initial'; // show car selection
            var crr = document.querySelectorAll(".to_hide");
            var crs = [...crr];
            crs.forEach(carr => {
                if (carr.title === dr.value) carr.style.display = 'initial';
                else carr.style.display = 'none';
            });        
        }
        dr.addEventListener("change", function () {
            if (dr.value === "new") {
            document.getElementById("dr_").style.display = 'initial'; // show driver info
            document.getElementById("ps_car").value = "new"; // set car selection to new
            document.getElementById("ps_car_").style.display = 'none'; // hide car selection
            document.getElementById("cr_").style.display = 'initial'; // show car info
        }
            else {
                document.getElementById("dr_").style.display = 'none'; // hide driver info
                document.getElementById("ps_car_").style.display = 'initial'; // show car selection
                document.getElementById("ps_car").value = "new"; // set car selection to new
                document.getElementById("cr_").style.display = 'initial'; // show car info
                var crr = document.querySelectorAll(".to_hide");
                var crs = [...crr];
                crs.forEach(carr => {
                    if (carr.title === dr.value) carr.style.display = 'initial';
                    else carr.style.display = 'none';
                });
                
            }
        });
        {{/if}}

        {{#if cars}}
        let cr = document.getElementById("ps_car");
        if (cr.value === "new") document.getElementById("cr_").style.display = 'initial'; // show car info
        else document.getElementById("cr_").style.display = 'none'; // hide car info
        cr.addEventListener("change", function () {
            if (cr.value === "new") document.getElementById("cr_").style.display = 'initial'; // show car info
            else document.getElementById("cr_").style.display = 'none'; // hide car info
        });
        {{/if}}
    }
</script>