<meta http-equiv="refresh" content="60">
<h3>{{#if lang}}Θέσεις parking (κατειλημμένες):{{else}}Parking Lots (occupied):{{/if}}</h3>
<div class="d-flex mb-5">
    <div class="progress mb-3 w-50" style="height: 30px;">
        <div id="_prog_bar" class="progress-bar progress-bar-animated progress-bar-striped bg-success" role="progressbar" style="width: {{pl_per}}%; font-size: 25px;">{{pl_per}}%</div>
    </div>
    <button type="button" id="myBtn-nr" class="btn btn-lg btn-danger d-block mx-auto _btn_modal" style="font-size: 20px; width: 12%; height: 100%;">{{#if lang}}Νέα κράτηση{{else}}New Reservation{{/if}}</button>
    <div id="myModal-nr" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{#if lang}}Προσθήκη νέας κράτησης{{else}}Add New Reservation{{/if}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form action="/parking_station/home" method="post" id="_form2">
                        <div class="text-nowrap" id="ps_driver_">
                            <label for="ps_driver">{{#if lang}}Οδηγός:{{else}}Driver:{{/if}}</label>
                            <select name="driver" id="ps_driver">
                                <option value="new">{{#if lang}}Νέος{{else}}New{{/if}}</option>
                                {{#each drivers}}
                                <option value="{{this.id}}">{{this.name}} <small>({{this.email}},{{this.phone}})</small></option>
                                {{/each}}
                            </select>
                        </div>
                        <div id="dr_">
                            <div class="text-nowrap">
                                <label for="ff-email" class="label">{{#if lang}}Email{{else}}Email{{/if}}</label>
                                <input id="ff-email" type="email" name="email" class="input" placeholder="someone@example.com" autofocus pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                            </div>
                            <div class="text-nowrap">
                                <label for="ff-name" class="label">{{#if lang}}Ονοματεπώνυμο{{else}}Full Name{{/if}}</label>
                                <input id="ff-name" type="text" name="name" class="input" placeholder={{#if lang}}"Εισάγετε το ονοματεπώνυμό σας"{{else}}"Enter your full name"{{/if}} required>
                            </div>
                            <div class="text-nowrap">
                                <label for="ff-phone" class="label">{{#if lang}}Τηλέφωνο{{else}}Phone{{/if}}</label>
                                <input id="ff-phone" type="tel" name="phone" class="input" placeholder="69********" pattern="[0-9]{10}" required>
                            </div>
                        </div>
                        <div class="text-nowrap" id="ps_car_">
                            <label for="ps_car">{{#if lang}}Όχημα:{{else}}Vehicle:{{/if}}</label>
                            <select name="car" id="ps_car">
                                <option value="new">{{#if lang}}Νέο{{else}}New{{/if}}</option>
                                {{#each cars}}
                                <option value="{{this.id}}" title="{{this.driver_id}}" class="to_hide">{{this.plate}}<small> ({{this.model}}-{{this.color}})</small></option>
                                {{/each}}
                            </select>
                        </div>
                        <div id="cr_">
                            <div class="text-nowrap">
                                <label for="ff-plate">{{#if lang}}Πινακίδα{{else}}Plate{{/if}}</label>
                                <input type="text" id="ff-plate" name="plate" placeholder="XXX0000" required>
                            </div>
                            <div class="text-nowrap">
                                <label for="ff-model">{{#if lang}}Μοντέλο{{else}}Model{{/if}}</label>
                                <input type="text" id="ff-model" name="model">
                            </div>
                            <div class="text-nowrap">
                                <label for="ff-color">{{#if lang}}Χρώμα{{else}}Color{{/if}}</label>
                                <input type="text" id="ff-color" name="color">
                            </div>
                        </div>
                        <div class="text-nowrap">
                            <label for="ff-r_start">{{#if lang}}Ημερομηνία έναρξης (Άφιξη):{{else}}Start date (Arrival):{{/if}}</label>
                            <input type="datetime-local" id="ff-r_start" name="r_start" required>
                        </div>
                        <div class="text-nowrap">
                            <label for="ff-r_end">{{#if lang}}Ημερομηνία λήξης (Αναχώρηση):{{else}}End date (Departure):{{/if}}</label>
                            <input type="datetime-local" id="ff-r_end" name="r_end" required>
                        </div>
                        <div class="text-nowrap">
                            <label for="ff-price">{{#if lang}}Τιμή: {{else}}Price: {{/if}}</label>
                            <input type="text" id="ff-price" name="price"> €
                        </div>
                        <div class="text-nowrap">
                            {{#if empty_lots}}
                            <label for="plid">{{#if lang}}Θέση:{{else}}Lot:{{/if}}</label>
                            <select name="parking_lot_id" id="plid">
                                {{!-- load available parking lots --}}
                                {{#each empty_lots}}
                                <option value="{{this}}">{{this}}</option>
                                {{/each}}
                            </select>
                            {{/if}}
                        </div>
                        <div class="d-flex justify-content-between mt-5">
                            <button type="button" class="btn btn-lg btn-secondary" data-bs-dismiss="modal">{{#if lang}}Άκυρο{{else}}Cancel{{/if}}</button>
                            <input type="submit" {{#unless empty_lots}}hidden{{/unless}} class="btn btn-lg btn-success" value={{#if lang}}"Προσθηκη"{{else}}"Add"{{/if}} onclick="add_resv()">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{#if records}}
<h3 class="text-center">{{#if lang}}Κρατήσεις{{else}}Reservations{{/if}}</h3>
<div class=" bg-primary table-wrapper-scroll-y my-custom-scrollbar _history-table">
    <table class="table table-bordered m-0" id="resv_table">
        <thead style="position: sticky; top: 0" class="bg-dark text-white">
            <tr>
                <th>{{#if lang}}Α/Α{{else}}ID{{/if}}</th>
                <th>{{#if lang}}Θέση{{else}}Lot{{/if}}</th>
                <th>{{#if lang}}Ημερομηνία έναρξης{{else}}Start date{{/if}}</th>
                <th>{{#if lang}}Ημερομηνία λήξης{{else}}End date{{/if}}</th>
                <th>{{#if lang}}Τιμή{{else}}Price{{/if}}</th>
                <th>{{#if lang}}Οδηγός{{else}}Driver{{/if}}</th>
                <th>{{#if lang}}Πινακίδα οχήματος{{else}}Car plate{{/if}}</th>
                <th>{{#if lang}}Ενέργειες{{else}}Actions{{/if}}</th>
            </tr>
        </thead>
        <tbody>
            {{#each records}}
            <tr class="_resv" id="{{this.id}}" title="{{this.state}}">
                <td>{{this.id}}</td>
                <td>{{this.parking_lot_id}}</td>
                <td class="_t_replace">{{this.r_start}}</td>
                <td class="_t_replace">{{this.r_end}}</td>
                <td>{{this.price}} €</td>
                <td>{{this.name}}, {{this.phone}} <p class="m-0 _history-note2" id="eml-{{this.id}}">{{this.email}}</p></td>
                <td>{{this.plate}} <p class="m-0 _history-note2">({{this.model}}, {{this.color}})</p></td>
                <td class="d-flex"></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <div id="myModalEdit-" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{#if lang}}Κράτηση{{else}}Reservation{{/if}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form action="/parking_station/update_reservation" method="post" id="myEditForm-">
                        <input type="number" id="resv__id-" hidden name="_id" value="">
                        <input type="email" id="resv_d_email-" hidden name="d_email" value="">
                        <div class="text-nowrap">
                            <label for="ff-price-">{{#if lang}}Τιμή:{{else}}Price:{{/if}}</label>
                            <input type="text" id="ff-price-" name="price" value="" autofocus> €
                        </div>
                    </form>
                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <button type="button" class="btn btn-lg btn-secondary " data-bs-dismiss="modal">{{#if lang}}Άκυρο{{else}}Cancel{{/if}}</button>
                    <input type="submit" form="myEditForm-" class="btn btn-lg btn-success" value={{#if lang}}"Ενημέρωση"{{else}}"Update"{{/if}}>
                </div>
            </div>
        </div>
    </div>
    <div id="myModalDel-" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p class="_modal-text">{{#if lang}}Είστε σίγουρος ότι θέλετε να διαγράψετε αυτή την κράτηση;{{else}}Are you sure you want to delete this reservation?{{/if}}</p>
                    <form action="/parking_station/delete_reservation" method="post" id="myDelForm-">
                        <input type="number" id="resv_id--" hidden name="_id" value="">
                        <input type="text" id="resv_prc-" hidden name="_price" value="">
                        <input type="email" id="resv_d_email--" hidden name="d_email" value="">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-lg btn-secondary" data-bs-dismiss="modal">{{#if lang}}Άκυρο{{else}}Cancel{{/if}}</button>
                    <input type="submit" form="myDelForm-" class="btn btn-lg btn-danger" value={{#if lang}}"Διαγραφή Κράτησης"{{else}}"Delete Reservation"{{/if}}>
                </div>
            </div>
        </div>
    </div>
</div>
{{else}}
<p class="p-3 text-center">{{#if lang}}Ωχ δεν βρέθηκε καμία ενεργή κράτηση{{else}}Oops none current reservation found{{/if}}</p>
{{/if}}
<div id="myModalEnterExit" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{#if lang}}Όχημα εξήλθε{{else}}Vehicle exited{{/if}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form action="/parking_station/change_reservation_state" method="post" id="myEnterExitForm-">
                        <label for="ps_car">{{#if lang}}Όχημα που εξήλθε{{else}}Vehicle exited:{{/if}}</label>
                        <select name="_id" id="ps_car_exited"></select>
                        <input type="number" name="state" id="f_st_s" hidden>
                    </form>
                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <button type="button" class="btn btn-lg btn-secondary " data-bs-dismiss="modal">{{#if lang}}Άκυρο{{else}}Cancel{{/if}}</button>
                    <input type="submit" form="myEnterExitForm-" class="btn btn-lg btn-success" value={{#if lang}}"Εφαρμογή"{{else}}"Apply"{{/if}}>
                </div>
            </div>
        </div>
    </div>
<form action="/parking_station/change_reservation_state" method="post" id="ch_st">
    <input type="number" name="_id" id="f_st_id" hidden>
    <input type="number" name="state" id="f_st_st" hidden>
</form>

<script>
    let per = {{{ pl_per }}};
    let f_dt = {{{ form_data }}};
    const local_trigger = {{{local}}};
    var dat = document.querySelectorAll("._t_replace");
    var dats = [...dat];
    dats.forEach(datt => {
        datt.innerHTML = date_to_string(parseInt(datt.innerHTML));
    });

    if (per < 50) document.getElementById("_prog_bar").className = "progress-bar progress-bar-animated progress-bar-striped bg-success";
    else if (per < 75) document.getElementById("_prog_bar").className = "progress-bar progress-bar-animated progress-bar-striped bg-warning";
    else document.getElementById("_prog_bar").className = "progress-bar progress-bar-animated progress-bar-striped bg-danger";

    document.addEventListener("DOMContentLoaded", function () {
        if (f_dt) {
            var myModal = new bootstrap.Modal(document.getElementById("myModal-nr"));
            myModal.show();
            for (let field of Object.keys(f_dt)) {
                if (field === "driver" || field === "car") continue;
                document.getElementById("ff-" + field).value = f_dt[field];
            }
            if(f_dt.driver) document.getElementById("ps_driver").value = f_dt.driver;
            else document.getElementById("ps_driver").value = "new";
            if(!f_dt.driver) document.getElementById("ps_driver_").hidden = true;
            if(f_dt.car) document.getElementById("ps_car").value = f_dt.car;
            else document.getElementById("ps_car").value = "new";
            if(!f_dt.car) document.getElementById("ps_car_").hidden = true;
        }

        if (local_trigger == 1) alert("A vehicle had just entered parking");
        if (local_trigger == 2) alert("A vehicle had just exited parking");
        if (local_trigger == 1 || local_trigger == 2) {
            document.getElementById("f_st_s").value = local_trigger;

            let tbl = document.getElementById("resv_table");
            let bl = false;
            if (tbl) {
                let tday = new Date();
                let h_dt = "";
                let rd = "";
                for (let i = 1; i < tbl.rows.length; i++) {
                    rd = tbl.rows[i].cells[2].textContent;
                    rd = rd.split(" ");
                    rd[0] = rd[0].split("/");
                    h_dt = rd[0][2] + "-" + rd[0][1] + "-" + rd[0][0] + "T" + rd[1] + ":00";
                    if (local_trigger == 1 && tday.getTime() < Date.parse(h_dt)) {
                        bl = true;
                        break;
                    }
                }
            }
            if (bl) {
                var myModal = new bootstrap.Modal(document.getElementById("myModalEnterExit"));
                myModal.show();
            }
            else {
                var myModal = new bootstrap.Modal(document.getElementById("myModal-nr"));
                myModal.show();
            }
            
        }
        driver_car_selection();
        var btn = document.getElementById("myBtn-nr");
        btn.addEventListener("click", function () {
            var myModal = new bootstrap.Modal(document.getElementById("myModal-nr"));
            myModal.show();
        });

        highlight_future_reservations();
        enable_edit_delete_actions();
        in_out_buttons();
        edit_buttons();
        delete_buttons();
        show_reservations_able_to_enter_or_exit(local_trigger);

    });

    let _dt1 = document.getElementById("ff-r_start");
    let _dt2 = document.getElementById("ff-r_end");

    let today = new Date();
    let dd = today.getDate();
    let mm = today.getMonth() + 1; //January is 0!
    let hh = today.getHours();
    let mn = today.getMinutes();
    if (dd < 10) { dd = '0' + dd; }
    if (mm < 10) { mm = '0' + mm; }
    if (hh < 10) { hh = '0' + hh; }
    if (mn < 10) { mn = '0' + mn; }
    today = today.getFullYear() + '-' + mm + '-' + dd + 'T' + hh + ':' + mn;

    _dt1.min = today;
    _dt2.min = today;
    _dt1.value = today;
    _dt1.max = _dt2.value;
    _dt2.min = _dt1.value;
    //document.getElementById("ff-price").innerHTML = final_price_calculation("h5,7,9,1d20,30,40,5m50,70,90,10", _dt1.value, _dt2.value);
    //if (prc >= 0) document.getElementById("ff-price").innerHTML = prc; // calculate final price
    //else document.getElementById("ff-price").innerHTML = "";

    _dt2.addEventListener('change', function () {
        _dt1.max = _dt2.value;
        console.log(_dt2.value);
        //check_available();
    });
    _dt1.addEventListener('change', function () {
        _dt2.min = _dt1.value;
        check_available();
    });

    function delete_buttons() {
        let bn = document.querySelectorAll("._btn_del");
        if (bn.length) {
            let btns = [...bn];
            let myModal = new bootstrap.Modal(document.getElementById("myModalDel-"));
            let idd = "";
            btns.forEach(function (btn, idd) {
                idd = btn.id.split("--")[1];
                btn.addEventListener("click", function () {
                    myModal.show();
                    document.getElementById("resv_id--").value = idd;
                    document.getElementById("resv_prc-").value = document.getElementById(idd).cells[4].textContent.split(" ")[0];
                    document.getElementById("resv_d_email--").value = document.getElementById("eml-" + idd).textContent;
                });
            });
        }
    }

    function edit_buttons() {
        let bn = document.querySelectorAll("._btn_edit");
        if (bn.length) {
            let btns = [...bn];
            let myModal = new bootstrap.Modal(document.getElementById("myModalEdit-"));
            let idd = "";
            let h_dt = "";
            let rd = "";
            btns.forEach(function (btn, idd) {
                idd = btn.id.split("--")[1];
                btn.addEventListener("click", function () {
                    myModal.show();
                    document.getElementById("resv__id-").value = idd;
                    document.getElementById("resv_d_email-").value = document.getElementById("eml-" + idd).textContent;
                });
            });
        }
    }

    function enable_edit_delete_actions() { // only on future reservations
        let tbl = document.getElementById("resv_table");
        let st = "";
        if (tbl) {
            for (let i = 1; i < tbl.rows.length; i++) { // only for 1 hour before reservations
                st = document.getElementById(tbl.rows[i].id).title;
                tbl.rows[i].cells[7].innerHTML = `<div><button id="myInBtn-${tbl.rows[i].id}" title="${st}" class="btn btn-lg btn-success d-block mx-3 _btn_in" style="font-size: 18px;"><i class="fa fa-hourglass-start"></i></button></div>
                <div><button id="myOutBtn-${tbl.rows[i].id}" class="btn btn-lg btn-danger d-block mx-3 _btn_out" style="font-size: 18px;"><i class="fa fa-hourglass-end"></i></button></div>
                <div><button type="button" id="myEditBtn--${tbl.rows[i].id}" class="btn btn-lg btn-dark d-block mx-3 _btn_edit"style="font-size: 18px;"><i class="fa fa-pencil"></i></button></div>
                <div><button type="button" id="myDelBtn--${tbl.rows[i].id}" class="btn btn-lg btn-dark d-block mx-3 _btn_del" style="font-size: 18px;"><i class="fa fa-trash-o"></i></button></div>` + tbl.rows[i].cells[7].innerHTML;
            }
        }
    }

    function in_out_buttons() {
        let bn = document.querySelectorAll("._btn_in");
        if (bn.length) {
            let btns = [...bn];
            let idd = "";
            btns.forEach(function (btn, idd) {
                idd = btn.id.split("-")[1];
                btn.addEventListener("click", function () { // start button
                    document.getElementById("f_st_id").value = idd;
                    document.getElementById("f_st_st").value = 1;
                    document.getElementById('ch_st').submit();
                });
                document.getElementById("myOutBtn-" + idd).addEventListener("click", function () { // end button
                    document.getElementById("f_st_id").value = idd;
                    document.getElementById("f_st_st").value = 2;
                    document.getElementById('ch_st').submit();
                });
                disable_in_out_buttons(idd);
            });
        }
    }

    function disable_in_out_buttons(_id) {
        let state = parseInt(document.getElementById("myInBtn-" + _id).title);
        let tday = new Date();
        let h_dt = "";
        let rd = "";
        rd = document.getElementById(_id).cells[2].textContent;
        rd = rd.split(" ");
        rd[0] = rd[0].split("/");
        h_dt = rd[0][2] + "-" + rd[0][1] + "-" + rd[0][0] + "T" + rd[1] + ":00";
        let h_dt2 = "";
        let rd2 = "";
        rd2 = document.getElementById(_id).cells[3].textContent;
        rd2 = rd2.split(" ");
        rd2[0] = rd2[0].split("/");
        h_dt2 = rd2[0][2] + "-" + rd2[0][1] + "-" + rd2[0][0] + "T" + rd2[1] + ":00";
        if (state == 1 || tday.getTime() > Date.parse(h_dt)) document.getElementById("myInBtn-" + _id).disabled = true;
        if (state == 2 || (state == 0 && tday.getTime() < Date.parse(h_dt))) document.getElementById("myOutBtn-" + _id).disabled = true;
    }

    function show_reservations_able_to_enter_or_exit(md) {
        let tbl = document.getElementById("resv_table");
        if (tbl) {
            let tday = new Date();
            let h_dt = "";
            let rd = "";
            let bl;
            for (let i = 1; i < tbl.rows.length; i++) {
                rd = tbl.rows[i].cells[2].textContent;
                rd = rd.split(" ");
                rd[0] = rd[0].split("/");
                h_dt = rd[0][2] + "-" + rd[0][1] + "-" + rd[0][0] + "T" + rd[1] + ":00";
                if (md == 1) bl = tday.getTime() < Date.parse(h_dt);
                else bl = tday.getTime() > Date.parse(h_dt);
                if (bl) {
                    const opt = document.createElement("option");
                    opt.innerText = tbl.rows[i].cells[0].textContent + "/ " + tbl.rows[i].cells[1].textContent + "/ " + tbl.rows[i].cells[5].innerText + "/ " + tbl.rows[i].cells[6].innerText;
                    opt.value = tbl.rows[i].cells[0].textContent;
                    document.getElementById("ps_car_exited").appendChild(opt);
                }
            }
        }
    }

    function highlight_future_reservations() { // highlight future reservations
        let tbl = document.getElementById("resv_table");
        if (tbl) {
            let tday = new Date();
            let h_dt = "";
            let rd = "";
            for (let i = 1; i < tbl.rows.length; i++) {
                rd = tbl.rows[i].cells[2].textContent;
                rd = rd.split(" ");
                rd[0] = rd[0].split("/");
                h_dt = rd[0][2] + "-" + rd[0][1] + "-" + rd[0][0] + "T" + rd[1] + ":00";
                if (tday.getTime() < Date.parse(h_dt)) {
                    tbl.rows[i].classList.add("bg-info");
                }
            }
        }
    }

    function check_available() {
        if (_dt1.value != "" && _dt2.value != "") {
            //document.getElementById("ff-price").value = final_price_calculation("h5,7,9,1d20,30,40,5m50,70,90,10", _dt1.value, _dt2.value); // calculate final price
            form = document.getElementById('_form2');
            //form.target='_blank';
            form.action = "/parking_station/home";
            form.submit();
            //document.getElementById("_form").submit();
        }
    }

    function add_resv() {
        form = document.getElementById('_form2');
        //form.target='_blank';
        form.action = "/parking_station/add_reservation";
        form.submit();
        //form.action='/';
        //form.target='';
    }

    function date_to_string(num) {
        let dtm_h = new Date(num);
        let dt_h = dtm_h.toLocaleDateString().split("/");
        if (dt_h[0] < 10) { dt_h[0] = '0' + dt_h[0]; }
        if (dt_h[1] < 10) { dt_h[1] = '0' + dt_h[1]; }
        let dt = dt_h[1] + "/" + dt_h[0] + "/" + dt_h[2];
        let tm = dtm_h.toTimeString().split(" ")[0].slice(0, 5);
        let dtm = dt + " " + tm;
        return dtm;
    }

    function driver_car_selection() {
        {{#if drivers}}
        let dr = document.getElementById("ps_driver");
        if (dr.value === "new") {
            document.getElementById("dr_").style.display = 'initial'; // show driver info
            document.getElementById("ps_car").value = "new"; // set car selection to new
            document.getElementById("ps_car_").style.display = 'none'; // hide car selection
            document.getElementById("cr_").style.display = 'initial'; // show car info
        }
        else {
            document.getElementById("dr_").style.display = 'none'; // hide driver info
            document.getElementById("ps_car_").style.display = 'initial'; // show car selection
            var crr = document.querySelectorAll(".to_hide");
            var crs = [...crr];
            crs.forEach(carr => {
                if (carr.title === dr.value) carr.style.display = 'initial';
                else carr.style.display = 'none';
            });        
        }
        dr.addEventListener("change", function () {
            if (dr.value === "new") {
            document.getElementById("dr_").style.display = 'initial'; // show driver info
            document.getElementById("ps_car").value = "new"; // set car selection to new
            document.getElementById("ps_car_").style.display = 'none'; // hide car selection
            document.getElementById("cr_").style.display = 'initial'; // show car info
        }
            else {
                document.getElementById("dr_").style.display = 'none'; // hide driver info
                document.getElementById("ps_car_").style.display = 'initial'; // show car selection
                document.getElementById("ps_car").value = "new"; // set car selection to new
                document.getElementById("cr_").style.display = 'initial'; // show car info
                var crr = document.querySelectorAll(".to_hide");
                var crs = [...crr];
                crs.forEach(carr => {
                    if (carr.title === dr.value) carr.style.display = 'initial';
                    else carr.style.display = 'none';
                });
                
            }
        });
        {{/if}}

        {{#if cars}}
        let cr = document.getElementById("ps_car");
        if (cr.value === "new") document.getElementById("cr_").style.display = 'initial'; // show car info
        else document.getElementById("cr_").style.display = 'none'; // hide car info
        cr.addEventListener("change", function () {
            if (cr.value === "new") document.getElementById("cr_").style.display = 'initial'; // show car info
            else document.getElementById("cr_").style.display = 'none'; // hide car info
        });
        {{/if}}
    }
</script>